<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="views/web/layout/base-layout">
<div layout:fragment="body">
	<section class="content-area">
		<div class="breadcrumbs-wrapper">
			<div class="container">
				<ul itemprop="breadcrumb" itemscope
					itemtype="http://schema.org/BreadcrumbList" id="breadcrumbs"
					class="breadcrumbs">
					<li itemprop="itemListElement" itemscope
						itemtype="http://schema.org/ListItem"><a itemprop="item"
						th:href="@{/}" title="Home"><span itemprop="name">Trang
								chủ</span>
							<meta itemprop="position" content="1" /></a></li>
					<li itemprop="itemListElement" itemscope
						itemtype="http://schema.org/ListItem"><a itemprop="name"
						th:href="@{'/users/'+${userFix.id}+'/examHis'}">Lịch sử thi</a>
						<meta itemprop="position" content="2" /></li>
				</ul>
			</div>
		</div>
		<div class="container site-content sidebar-right">
			<div class="row">
				<div class="col-sm-3" th:insert="views/web/user/leftTable :: left">
				</div>
				<div class="col-sm-9"
					style="border: solid 1px #7db9bb; padding: 10px; box-shadow: 5px 5px 5px 5px">
					<div class="content-right">
						<div class="block-dasboard">
							<h3 style="margin-bottom: 20px" class="heading">LỊCH SỬ THI</h3>
							<div data-v-427d2be1="" class="table-responsive"
								style="margin-bottom: 20px;">
								<h4><i class="fas fa-cubes"></i>Test level</h4>
								<button class="btn btn-primary" type="button"
									data-toggle="collapse" data-target="#level"
									aria-expanded="false" aria-controls="level">Xem</button>
								<!---->
								<div id="level" class="collapse">
									<table data-v-427d2be1="" class="table table-striped"
										style="font-size: 1.4rem;">
										<thead data-v-427d2be1="">
											<tr data-v-427d2be1="">
												<th data-v-427d2be1="" scope="col" style="width: 7%;">#STT</th>
												<th data-v-427d2be1="" scope="col">Đề thi</th>
												<th data-v-427d2be1="" scope="col">Ngày thi</th>

												<th data-v-427d2be1="" scope="col">Điểm</th>
												<th data-v-427d2be1="" scope="col" class="hidenMobile">Action
												</th>
											</tr>
										</thead>
										<tbody data-v-427d2be1="">
											<tr th:each="rs,i:${rsLevels}" data-v-427d2be1="">
												<th data-v-427d2be1="" scope="row" class="center order"><strong
													data-v-427d2be1="" th:text="${i.index+1}"></strong></th>
												<td data-v-427d2be1="" th:text="${rs.test.name}"></td>
												<td data-v-427d2be1=""><span data-v-427d2be1=""
													class="datehistory"
													th:text="${#dates.format(new java.util.Date(rs.create_time))}">21-10-2020
														14:52</span></td>

												<td data-v-427d2be1="" th:text="${rs.score}">0</td>
												<td data-v-427d2be1="" class="hidenMobile"><form
														th:action="@{'/testLevel'}">
														<button data-v-427d2be1="" type="submit"
															data-toggle="modal" data-target="#resuiltTest-74715"
															class="btn btn-primary btn-sm btn-info btn-viewmore">Làm
															lại</button>
													</form></td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>

							<div data-v-427d2be1="" class="table-responsive"
								style="margin-bottom: 20px;">
								<!---->
								<h4><i class="fas fa-paw"></i>Kiểm tra sau mỗi bài học</h4>
								<button class="btn btn-primary" type="button"
									data-toggle="collapse" data-target="#less"
									aria-expanded="false" aria-controls="less">Xem</button>
								<div class="collapse" id="less">
									<table data-v-427d2be1="" class="table table-striped"
										style="font-size: 1.4rem;">
										<thead data-v-427d2be1="">
											<tr data-v-427d2be1="">
												<th data-v-427d2be1="" scope="col" style="width: 7%;">#STT</th>
												<th data-v-427d2be1="" scope="col">Đề thi</th>
												<th data-v-427d2be1="" scope="col">Ngày thi</th>

												<th data-v-427d2be1="" scope="col">Điểm</th>
												<th data-v-427d2be1="" scope="col" class="hidenMobile">Action
												</th>
											</tr>
										</thead>
										<tbody data-v-427d2be1="">

											<tr th:each="rs,i:${rsLessons}" data-v-427d2be1="">
												<th data-v-427d2be1="" scope="row" class="center order"><strong
													data-v-427d2be1="" th:text="${i.index+1}"></strong></th>
												<td data-v-427d2be1="" th:text="${rs.test.name}"></td>
												<td data-v-427d2be1=""><span data-v-427d2be1=""
													class="datehistory"
													th:text="${#dates.format(new java.util.Date(rs.create_time))}">21-10-2020
														14:52</span></td>

												<td data-v-427d2be1="" th:text="${rs.score}">0</td>
												<td data-v-427d2be1="" class="hidenMobile"><form
														th:action="@{'/courses/'+${rs.test.lesson.course.id}+'/lessons/'+${rs.test.lesson.id}}">
														<button data-v-427d2be1="" type="submit"
															data-toggle="modal" data-target="#resuiltTest-74715"
															class="btn btn-primary btn-sm btn-info btn-viewmore">Làm
															lại</button>
													</form></td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>

							<div data-v-427d2be1="" class="table-responsive"
								style="margin-bottom: 20px;">
								<!---->
								<h4><i class="fab fa-angellist"></i>Kiểm tra tự do</h4>
								<button class="btn btn-primary" type="button"
									data-toggle="collapse" data-target="#free"
									aria-expanded="false" aria-controls="free">Xem</button>
								<div class="collapse" id="free">
									<table data-v-427d2be1="" class="table table-striped"
										style="font-size: 1.4rem;">
										<thead data-v-427d2be1="">
											<tr data-v-427d2be1="">
												<th data-v-427d2be1="" scope="col" style="width: 7%;">#STT</th>
												<th data-v-427d2be1="" scope="col">Đề thi</th>
												<th data-v-427d2be1="" scope="col">Ngày thi</th>

												<th data-v-427d2be1="" scope="col">Điểm</th>
												<th data-v-427d2be1="" scope="col" class="hidenMobile">Action
												</th>
											</tr>
										</thead>
										<tbody data-v-427d2be1="">

											<tr th:each="rs,i:${rsExams}" data-v-427d2be1="">
												<th data-v-427d2be1="" scope="row" class="center order"><strong
													data-v-427d2be1="" th:text="${i.index+1}"></strong></th>
												<td data-v-427d2be1="" th:text="${rs.test.name}"></td>
												<td data-v-427d2be1=""><span data-v-427d2be1=""
													class="datehistory"
													th:text="${#dates.format(new java.util.Date(rs.create_time))}">21-10-2020
														14:52</span></td>

												<td data-v-427d2be1="" th:text="${rs.score}">0</td>
												<td data-v-427d2be1="" class="hidenMobile"><form
														th:action="@{'/exams/'+${rs.test.level}+'/'+${rs.test.id}}">
														<button data-v-427d2be1="" type="submit"
															data-toggle="modal" data-target="#resuiltTest-74715"
															class="btn btn-primary btn-sm btn-info btn-viewmore">Làm
															lại</button>
													</form></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<style>
ul {
	margin-left: 0;
	color: cadetblue
}

.list-group-item {
	font-weight: bold;
}
</style>
</div>
</html>