<div th:fragment="left" class="card" style="width: 25rem; background: aliceblue">
	<img class="card-img-top"
		style="border-radius: 50%; display: block; padding: 15px"
		th:src="@{https://riki.edu.vn/online//Data/ResizeImage/images/image-web-user/user-39512/1293986177606375-200x200.png}">
	<h3 style="text-align: center">
		<strong th:text="${userFix.name}"></strong>
	</h3>
	<ul style="margin-left:0" class="list-group list-group-flush">

		<li class="list-group-item"><a th:href="@{'/users/'+${userFix.id}}">Thông tin cá nhân</a></li>
		<li class="list-group-item"><a th:href="@{'/users/'+${userFix.id}+'/lessonHis'}">Lịch sử bài học</a></li>
		<li class="list-group-item"><a th:href="@{'/users/'+${userFix.id}+'/examHis'}">Lịch sử thi</a></li>
		<li class="list-group-item"><a th:href="@{'/users/'+${userFix.id}+'/blogs'}">Blog của tôi</a></li>
	</ul>

</div>
