<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="views/web/layout/base-layout">
<div layout:fragment="body">
	<section class="content-area">
		<div class="breadcrumbs-wrapper">
			<div class="container">
				<ul itemprop="breadcrumb" itemscope
					itemtype="http://schema.org/BreadcrumbList" id="breadcrumbs"
					class="breadcrumbs">
					<li itemprop="itemListElement" itemscope
						itemtype="http://schema.org/ListItem"><a itemprop="item"
						th:href="@{/}" title="Home"><span itemprop="name">Trang
								chủ</span>
							<meta itemprop="position" content="1" /></a></li>
					<li itemprop="itemListElement" itemscope
						itemtype="http://schema.org/ListItem"><a itemprop="name"
						th:href="@{'/users/'+${userFix.id}+'/blogs'}">Blogs của tôi</a>
						<meta itemprop="position" content="2" /></li>

					<li itemprop="itemListElement" itemscope
						itemtype="http://schema.org/ListItem"><a itemprop="name"
						th:href="@{'/users/'+${userFix.id}+'/blogs/'+${blog.id}}" th:text="${blog.title}"></a>
						<meta itemprop="position" content="2" /></li>
				</ul>
			</div>
		</div>
		<div class="container site-content sidebar-right">
			<div class="row">
				<div class="col-sm-3" th:insert="views/web/user/leftTable :: left">
				</div>
				<div class="col-sm-9"
					style="border: solid 1px #7db9bb; padding: 10px; box-shadow: 5px 5px 5px 5px">
					<div class="block-dasboard" style="font-size:1.3rem">
						<h3 class="heading" style="margin-bottom: 20px" th:text="${blog.title}"></h3>
						<strong>Thể loại</strong>
						<p th:text="${blog.type}"></p>
						<strong th:text="'Thời gian: '+${blog.create_time}"></strong>
						<br><br>
						<strong>Mô tả</strong>
						<p th:text="${blog.des}"></p>
						
						<strong>Nội dung</strong>
						<p th:utext="${blog.content}"></p>
						
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
</html>