<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="views/web/layout/base-layout">
<div layout:fragment="body">
	<section class="content-area">
		<div th:insert="views/web/lesson/topheading :: top"></div>
		<div class="container site-content sidebar-right"
			style="font-size: 1.3rem">
			<div class="alert alert-primary" role="alert">
				<h3 th:text="${notifi}"></h3>
				<h3
					th:text="'Bạn đạt được: '+${score}+'/'+${test.questionQuantity}+' điểm'"></h3>




			</div>
			<div class="row w-100">
				<div th:if="${ques}!=null" class="container"
					style="margin: 5px; margin-bottom: 20px" th:each="que,i :${ques}">

					<label th:text="${i.index+1}+'.'+ ${que.content}"></label>
					<div th:each="ans:${que.answers}">
						<span><input th:value="${userAns[i.index]}" readonly="true"
							style="border: solid 1px #e0b8c7;"></span><i
							th:if="${userAns[i.index]}==${ans.content}"
							class="far fa-check-circle" style="color: green;"></i> <span>
							<i th:if="${userAns[i.index]}!=${ans.content}"
							class="far fa-times-circle" style="color: red;"
							th:text="${ans.content}"></i>
						</span>
					</div>


				</div>

				<div th:if="${ques}==null" class="container"
					style="margin: 5px; margin-bottom: 20px"
					th:each="que,i :${test.questions}">
					<label th:utext="${que.content}"></label>

					<ol type="a">
						<li th:each="item:${que.answers}"><input
							style="margin-top: 2px; margin-left: 20px" th:value="${item.id}" 
							type="radio"> <span th:utext="${item.content}">
							<i
							th:if="${item.id}"
							class="far fa-check-circle" style="color: green;"></i>
							<i
							th:if="${userAns[i.index]}!=${item.id}"
							class="far fa-check-circle" style="color: green;"></i>
							</span>
							
							</li>

					</ol>


				</div>






			</div>
		</div>
	</section>
</div>
</html>