<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="views/web/layout/base-layout">
<div layout:fragment="body">
	<section class="content-area">
		<div th:insert="views/web/lesson/topheading :: top"></div>
		<div class="container site-content sidebar-right"
			style="font-size: 1.3rem">
			<div class="row">
				<div style="margin-left: 25px; margin-bottom: 20px;" class="col">
					<button th:action="@{'/courses/'+{}}" style="border-radius: 30px">Danh
						sách bài học</button>
				</div>
			</div>

			<ul class="nav nav-tabs" id="ex1" role="tablist">
				<li class="nav-item" role="presentation"><a
					class="nav-link active" id="ex1-tab-1" data-toggle="tab"
					href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1"
					aria-selected="true"><div class="card">
							<img class="card-img-top"
								th:src="@{https://lophoctiengnhat.com//public/lesson/tab_icons/minna_01.png}"
								alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Từ vựng</h5>
							</div>

						</div></a></li>
				<li th:if="${#lists.size(lesson.grammars)>0}" class="nav-item"
					role="presentation"><a class="nav-link" id="ex1-tab-2"
					data-toggle="tab" href="#ex1-tabs-2" role="tab"
					aria-controls="ex1-tabs-2" aria-selected="false"><div
							class="card">
							<img class="card-img-top"
								th:src="@{https://lophoctiengnhat.com//public/lesson/tab_icons/minna_02.png}"
								alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Ngữ pháp</h5>
							</div>

						</div></a></li>
				<li th:if="${#lists.size(lesson.listenings)>0}" class="nav-item"
					role="presentation"><a class="nav-link" id="ex1-tab-3"
					data-toggle="tab" href="#ex1-tabs-3" role="tab"
					aria-controls="ex1-tabs-3" aria-selected="false"><div
							class="card">
							<img class="card-img-top"
								th:src="@{https://lophoctiengnhat.com//public/lesson/tab_icons/minna_07.png}"
								alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Nghe</h5>
							</div>

						</div></a></li>

				<li class="nav-item" role="presentation"><a class="nav-link"
					id="ex1-tab-4" data-toggle="tab" href="#ex1-tabs-4" role="tab"
					aria-controls="ex1-tabs-4" aria-selected="false">
						<div class="card">
							<img class="card-img-top"
								th:src="@{https://lophoctiengnhat.com//public/lesson/tab_icons/minna_03.png}"
								alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Test</h5>
							</div>

						</div>
				</a></li>
			</ul>
			<div class="row"
				style="margin-left: 25.9px; padding-top: 60px; padding-left: 30px; padding-right: 30px; margin-right: 3px; padding-bottom: 10px; border-left: solid 1px rgb(0, 0, 0, 0.1); border-right: solid 1px rgb(0, 0, 0, 0.1); border-bottom: solid 1px rgb(0, 0, 0, 0.1)">
				<div class="tab-content" id="ex1-content" style="width: 100%">
					<div class="tab-pane fade show active" id="ex1-tabs-1"
						role="tabpanel" aria-labelledby="ex1-tab-1">

						<div th:if="${alphabet}">
							<h3 th:text="'Bảng chữ cái '+${alphabet.name}"></h3>


							<p>Click vào ảnh để nghe cách phát âm</p>
							<div class="row w-100">
								<div class="col-sm-6">
									<a th:each="item:${list1} " style="cursor: pointer"
										th:onclick="'playAudio('+${item.id}+')'" type="button"> <img
										style="height: 100px; border: solid #67caa4 2px;"
										title="Hãy click vào để nghe phát âm" th:src="${item.image}">
									</a>
									<audio th:each="item:${list1} " th:id="${item.id}">
										<source th:src="${item.audio}" type="audio/ogg">
									</audio>
								</div>

								<div class="col-sm-6">
									<a th:each="item:${list2} " style="cursor: pointer"
										th:onclick="'playAudio('+${item.id}+')'" type="button"> <img
										style="height: 100px; border: solid #67caa4 2px;"
										title="Hãy click vào để nghe phát âm" th:src="${item.image}">
									</a>
									<audio th:each="item:${list2} " th:id="${item.id}">
										<source th:src="${item.audio}" type="audio/ogg">
									</audio>
								</div>

							</div>
							<script>
								function playAudio(audioId) {
									var x = document.getElementById(audioId);
									x.play();
								}
							</script>


						</div>

						<div th:if="${#lists.size(lesson.vocabularies)>0}">
							<h3
								th:text="'Bài học gồm: '+${#lists.size(lesson.vocabularies)}+' từ vựng'"></h3>
							<table class="table table-striped">
								<thead style="background-color: pink">
									<tr>
										<th>STT</th>
										<th>Từ</th>
										<th>Phát âm</th>
										<th>Kanji</th>
										<th>Nghĩa</th>


									</tr>
								</thead>
								<tbody>
									<tr th:each="vocab,i:${lesson.vocabularies}">
										<td th:text="${i.index+1}"></td>
										<td th:text="${vocab.content}"></td>
										<td><a th:if="${vocab.audio}" style="cursor: pointer"
											th:onclick="'playAudio('+${vocab.id}+')'"><i
												class="fab fa-google-play"></i></a></td>
										<td th:text="${vocab.kanji}"></td>
										<td th:text="${vocab.means}"></td>
										<audio th:id="${vocab.id}">
											<source th:src="${vocab.audio}" type="audio/ogg">
										</audio>
									</tr>

								</tbody>
							</table>
							<script>
								function playAudio(audioId) {
									var x = document.getElementById(audioId);
									x.play();
								}
							</script>
						</div>
					</div>
					<div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel"
						aria-labelledby="ex1-tab-2">

						<ul id="grammar" class="nav nav-tabs w-100">

							<li th:if="${#lists.size(lesson.grammars)}>=1" class="nav-item"><a
								class="nav-link active" data-toggle="tab" href="#home"
								th:text="'文法 1'"></a></li>
							<li th:if="${#lists.size(lesson.grammars)}>=2" class="nav-item"><a
								class="nav-link" data-toggle="tab" href="#menu1"
								th:text="'文法 2'"></a></li>
							<li th:if="${#lists.size(lesson.grammars)}>=3" class="nav-item"><a
								class="nav-link" data-toggle="tab" href="#menu2"
								th:text="'文法 3'"></a></li>
							<li th:if="${#lists.size(lesson.grammars)}>=4" class="nav-item"><a
								class="nav-link " data-toggle="tab" href="#menu3"
								th:text="'文法 4'"></a></li>
							<li th:if="${#lists.size(lesson.grammars)}>=5" class="nav-item"><a
								class="nav-link" data-toggle="tab" href="#menu4">文法5</a></li>
							<li th:if="${#lists.size(lesson.grammars)}>=6" class="nav-item"><a
								class="nav-link" data-toggle="tab" href="#menu5">文法6</a></li>
							<li th:if="${#lists.size(lesson.grammars)}>=7" class="nav-item"><a
								class="nav-link" data-toggle="tab" href="#menu6">文法7</a></li>


						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div th:if="${#lists.size(lesson.grammars)}>=1" id="home"
								class="container tab-pane active">
								<h3 style="margin: 20px" th:text="${lesson.grammars[0].name}"></h3>
								<table style="border-color: #6f6161"
									th:utext="${lesson.grammars[0].content}">

								</table>
								<hr>
								<table style="border-color: #6f6161"
									th:utext="${lesson.grammars[0].description}"></table>
							</div>
							<div th:if="${#lists.size(lesson.grammars)}>=2" id="menu1"
								class="container tab-pane fade">
								<h3 style="margin: 20px" th:text="${lesson.grammars[1].name}"></h3>
								<table style="border-color: #6f6161"
									th:utext="${lesson.grammars[1].content}">

								</table>
								<hr>
								<table style="border-color: #6f6161"
									th:utext="${lesson.grammars[1].description}"></table>
							</div>
							<div th:if="${#lists.size(lesson.grammars)}>=3" id="menu2"
								class="container tab-pane fade">
								<h3 style="margin: 20px" th:text="${lesson.grammars[2].name}"></h3>
								<table style="border-color: #6f6161"
									th:utext="${lesson.grammars[2].content}">

								</table>
								<hr>
								<table style="border-color: #6f6161"
									th:utext="${lesson.grammars[2].description}"></table>
							</div>
							<div th:if="${#lists.size(lesson.grammars)}>=4" id="menu3"
								class="container tab-pane fade">
								<h3 style="margin: 20px" th:text="${lesson.grammars[3].name}"></h3>
								<table style="border-color: #6f6161"
									th:utext="${lesson.grammars[3].content}">

								</table>
								<hr>
								<table style="border-color: #6f6161"
									th:utext="${lesson.grammars[3].description}"></table>
							</div>
							<div th:if="${#lists.size(lesson.grammars)}>=5" id="menu4"
								class="container tab-pane fade">
								<h3 style="margin: 20px" th:text="${lesson.grammars[4].name}"></h3>
								<table style="border-color: #6f6161"
									th:utext="${lesson.grammars[4].content}">

								</table>
								<hr>
								<table style="border-color: #6f6161"
									th:utext="${lesson.grammars[4].description}"></table>
							</div>
							<div th:if="${#lists.size(lesson.grammars)}>=6" id="menu5"
								class="container tab-pane fade">
								<h3 style="margin: 20px" th:text="${lesson.grammars[5].name}"></h3>
								<table style="border-color: #6f6161"
									th:utext="${lesson.grammars[5].content}">

								</table>
								<hr>
								<table style="border-color: #6f6161"
									th:utext="${lesson.grammars[5].description}"></table>
							</div>
							<div th:if="${#lists.size(lesson.grammars)}>=7" id="menu6"
								class="container tab-pane fade">
								<h3 style="margin: 20px" th:text="${lesson.grammars[6].name}"></h3>
								<table style="border-color: #6f6161"
									th:utext="${lesson.grammars[6].content}">

								</table>
								<hr>
								<h3>Ví dụ:</h3>
								<table style="border-color: #6f6161"
									th:utext="${lesson.grammars[6].description}"></table>
							</div>

						</div>

					</div>
					<div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel"
						aria-labelledby="ex1-tab-3">
						<h3>Nghe và trả lời câu hỏi</h3>
						<ul id="listen" class="nav nav-tabs w-100">
							<li th:if="${#lists.size(lesson.listenings)}>=1"
								class="nav-item "><a class="nav-link active"
								data-toggle="tab" href="#mon1">問題 1</a>
							<li th:if="${#lists.size(lesson.listenings)}>=2" class="nav-item"><a
								class="nav-link " data-toggle="tab" href="#mon2">問題2</a></li>
							<li th:if="${#lists.size(lesson.listenings)}>=3" class="nav-item"><a
								class="nav-link " data-toggle="tab" href="#mon3">問題3</a></li>
							<li th:if="${#lists.size(lesson.listenings)}>=4" class="nav-item"><a
								class="nav-link " data-toggle="tab" href="#mon4">問題4</a></li>
							<li th:if="${#lists.size(lesson.listenings)}>=5" class="nav-item"><a
								class="nav-link " data-toggle="tab" href="#mon5">問題5</a></li>
							<li th:if="${#lists.size(lesson.listenings)}>=6" class="nav-item"><a
								class="nav-link " data-toggle="tab" href="#mon6">問題6</a></li>
							<li th:if="${#lists.size(lesson.listenings)}>=7" class="nav-item"><a
								class="nav-link " data-toggle="tab" href="#mon7">問題7</a></li>


						</ul>

						<!-- Tab panes -->
						<div class="tab-content">

							<div th:if="${#lists.size(lesson.listenings)}>=1" id="mon1"
								class="container tab-pane active ">
								<audio controls>
									<source th:src="${lesson.listenings[0].audio}" type="audio/ogg">
								</audio>
								<img th:src="${lesson.listenings[0].image}">
								<table border="1" style="width: 800px">

									<tr th:if="${lesson.listenings[0].content1}">
										<td>れい）</td>
										<td><a href="#boxnoidung" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="boxnoidung" class="collapse"
												th:utext="${lesson.listenings[0].content1}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[0].content2}">
										<td>1</td>
										<td><a href="#boxnoidung1" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="boxnoidung1" class="collapse"
												th:utext="${lesson.listenings[0].content2}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[0].content3}">
										<td>2</td>
										<td><a href="#boxnoidung2" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="boxnoidung2" class="collapse"
												th:utext="${lesson.listenings[0].content3}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[0].content4}">
										<td>3）</td>
										<td><a href="#boxnoidung3" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="boxnoidung3" class="collapse"
												th:utext="${lesson.listenings[0].content4}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[0].content5}">
										<td>4</td>
										<td><a href="#boxnoidung4" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="boxnoidung4" class="collapse"
												th:utext="${lesson.listenings[0].content5}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[0].content6}">
										<td>5</td>
										<td><a href="#boxnoidung5" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="boxnoidung5" class="collapse"
												th:utext="${lesson.listenings[0].content6}"></div></td>
									</tr>

								</table>
							</div>

							<div th:if="${#lists.size(lesson.listenings)}>=2" id="mon2"
								class="container tab-pane fade ">
								<audio controls>
									<source th:src="${lesson.listenings[1].audio}" type="audio/ogg">
								</audio>
								<img th:src="${lesson.listenings[1].image}">
								<table border="1" style="width: 800px">

									<tr th:if="${lesson.listenings[1].content1}">
										<td>れい）</td>
										<td><a href="#boxnoidung6" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="boxnoidung6" class="collapse"
												th:utext="${lesson.listenings[1].content1}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[1].content2}">
										<td>1</td>
										<td><a href="#boxnoidung7" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="boxnoidung7" class="collapse"
												th:utext="${lesson.listenings[1].content2}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[1].content3}">
										<td>2</td>
										<td><a href="#boxnoidung8" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="boxnoidung8" class="collapse"
												th:utext="${lesson.listenings[1].content3}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[1].content4}">
										<td>3）</td>
										<td><a href="#boxnoidung9" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="boxnoidung9" class="collapse"
												th:utext="${lesson.listenings[1].content4}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[1].content5}">
										<td>4</td>
										<td><a href="#boxnoidung10" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="boxnoidung10" class="collapse"
												th:utext="${lesson.listenings[1].content5}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[1].content6}">
										<td>5</td>
										<td><a href="#boxnoidung11" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="boxnoidung11" class="collapse"
												th:utext="${lesson.listenings[1].content6}"></div></td>
									</tr>

								</table>

							</div>

							<div th:if="${#lists.size(lesson.listenings)}>=3" id="mon3"
								class="container tab-pane fade ">
								<audio controls>
									<source th:src="${lesson.listenings[2].audio}" type="audio/ogg">
								</audio>
								<img th:src="${lesson.listenings[2].image}">
								<table border="1" style="width: 800px">

									<tr th:if="${lesson.listenings[2].content1}">
										<td>れい）</td>
										<td><a href="#box1" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="box1" class="collapse"
												th:utext="${lesson.listenings[2].content1}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[2].content2}">
										<td>1</td>
										<td><a href="#box2" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="box2" class="collapse"
												th:utext="${lesson.listenings[2].content2}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[2].content3}">
										<td>2</td>
										<td><a href="#box3" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="box3" class="collapse"
												th:utext="${lesson.listenings[2].content3}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[2].content4}">
										<td>3）</td>
										<td ><a href="#b3" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="b3" class="collapse" th:utext="${lesson.listenings[2].content4}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[2].content5}">
										<td>4</td>
										<td><a href="#box4" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="box4" class="collapse"
												th:utext="${lesson.listenings[2].content5}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[2].content6}">
										<td>5</td>
										<td><a href="#box5" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="box5" class="collapse"
												th:utext="${lesson.listenings[2].content6}"></div></td>
									</tr>

								</table>

							</div>

							<div th:if="${#lists.size(lesson.listenings)}>=4" id="mon4"
								class="container tab-pane fade ">
								<audio controls>
									<source th:src="${lesson.listenings[3].audio}" type="audio/ogg">
								</audio>
								<img th:src="${lesson.listenings[3].image}">
								<table border="1" style="width: 800px">

									<tr th:if="${lesson.listenings[3].content1}">
										<td>れい）</td>
										<td><a href="#box6" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="box6" class="collapse"
												th:utext="${lesson.listenings[3].content1}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[3].content2}">
										<td>1</td>
										<td><a href="#box7" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="box7" class="collapse"
												th:utext="${lesson.listenings[3].content2}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[3].content3}">
										<td>2</td>
										<td><a href="#box8" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="box8" class="collapse"
												th:utext="${lesson.listenings[3].content3}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[3].content4}">
										<td>3）</td>
										<td><a href="#box9" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="box9" class="collapse"
												th:utext="${lesson.listenings[3].content4}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[3].content5}">
										<td>4</td>
										<td><a href="#box10" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="box10" class="collapse"
												th:utext="${lesson.listenings[3].content5}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[3].content6}">
										<td>5</td>
										<td><a href="#box11" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="box11" class="collapse"
												th:utext="${lesson.listenings[3].content6}"></div></td>
									</tr>

								</table>

							</div>

							<div th:if="${#lists.size(lesson.listenings)}>=5" id="mon5"
								class="container tab-pane fade ">
								<audio controls>
									<source th:src="${lesson.listenings[4].audio}" type="audio/ogg">
								</audio>
								<img th:src="${lesson.listenings[4].image}">
								<table border="1" style="width: 800px">

									<tr th:if="${lesson.listenings[4].content1}">
										<td>れい）</td>
										<td><a href="#box12" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="box12" class="collapse"
												th:utext="${lesson.listenings[4].content1}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[4].content2}">
										<td>1</td>
										<td><a href="#box13" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="box13" class="collapse"
												th:utext="${lesson.listenings[4].content2}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[4].content3}">
										<td>2</td>
										<td><a href="#box14" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="box14" class="collapse"
												th:utext="${lesson.listenings[4].content3}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[4].content4}">
										<td>3）</td>
										<td><a href="#box15" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="box15" class="collapse"
												th:utext="${lesson.listenings[4].content4}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[4].content5}">
										<td>4</td>
										<td><a href="#box16" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="box16" class="collapse"
												th:utext="${lesson.listenings[4].content5}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[4].content6}">
										<td>5</td>
										<td><a href="#box17" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="box17" class="collapse"
												th:utext="${lesson.listenings[4].content6}"></div></td>
									</tr>

								</table>

							</div>

							<div th:if="${#lists.size(lesson.listenings)}>=6" id="mon6"
								class="container tab-pane fade ">
								<audio controls>
									<source th:src="${lesson.listenings[5].audio}" type="audio/ogg">
								</audio>
								<img th:src="${lesson.listenings[5].image}">
								<table border="1" style="width: 800px">

									<tr th:if="${lesson.listenings[5].content1}">
										<td>れい）</td>
										<td><a href="#box18" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="box18" class="collapse"
												th:utext="${lesson.listenings[5].content1}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[5].content2}">
										<td>1</td>
										<td><a href="#box19" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="box19" class="collapse"
												th:utext="${lesson.listenings[5].content2}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[5].content3}">
										<td>2</td>
										<td><a href="#bx1" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="bx1" class="collapse"
												th:utext="${lesson.listenings[5].content3}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[5].content4}">
										<td>3）</td>
										<td><a href="#bx2" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="bx2" class="collapse"
												th:utext="${lesson.listenings[5].content4}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[5].content5}">
										<td>4</td>
										<td><a href="#bx12" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="bx12" class="collapse"
												th:utext="${lesson.listenings[5].content5}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[5].content6}">
										<td>5</td>
										<td><a href="#bx13" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="bx13" class="collapse"
												th:utext="${lesson.listenings[5].content6}"></div></td>
									</tr>

								</table>

							</div>

							<div th:if="${#lists.size(lesson.listenings)}>=7" id="mon7"
								class="container tab-pane fade ">
								<audio controls>
									<source th:src="${lesson.listenings[6].audio}" type="audio/ogg">
								</audio>
								<img th:src="${lesson.listenings[6].image}">
								<table border="1" style="width: 800px">

									<tr th:if="${lesson.listenings[6].content1}">
										<td>れい）</td>
										<td><a href="#bx14" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="bx14" class="collapse"
												th:utext="${lesson.listenings[6].content1}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[6].content2}">
										<td>1</td>
										<td><a href="#bx15" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="bx15" class="collapse"
												th:utext="${lesson.listenings[6].content2}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[6].content3}">
										<td>2</td>
										<td><a href="#bx16" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="bx16" class="collapse"
												th:utext="${lesson.listenings[6].content3}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[6].content4}">
										<td>3）</td>
										<td><a href="#bx17" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="bx17" class="collapse"
												th:utext="${lesson.listenings[6].content4}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[6].content5}">
										<td>4</td>
										<td><a href="#bx18" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="bx18" class="collapse"
												th:utext="${lesson.listenings[6].content5}"></div></td>
									</tr>
									<tr th:if="${lesson.listenings[6].content6}">
										<td>5</td>
										<td><a href="#bx19" aria-expanded="false"
											data-toggle="collapse">Đáp án</a>
											<div id="bx19" class="collapse"
												th:utext="${lesson.listenings[6].content6}"></div></td>
									</tr>

								</table>

							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="ex1-tabs-4" role="tabpanel"
						aria-labelledby="ex1-tab-4">
						<h3>Kiểm tra cuối bài</h3>
						<p th:text="'Phần test gồm :'"></p>
						<div class="row w-100" th:if="${alphabet}">
							<form>

								<div class="container" style="margin: 5px; margin-bottom: 20px"
									th:each="que,i :${ques}">

									<label th:text="${i.index+1}+'.'+ ${que.content}"></label>
									<form th:each="ans:${que}">
										<div>
											<span><input></span>
										</div>

									</form>
								</div>

								<button style="float: right; margin: 10px; border-radius: 30px">
									<i class="fas fa-flag-checkered"></i>Nộp bài
								</button>
							</form>
						</div>
						<div class="row w-100" th:if="${alphabet}==null">
							<form>

								<div th:each="item: ${lesson.tests[0].questions}"
									class="container" style="margin: 5px; margin-bottom: 20px">
									<label th:utext="${item.content}"></label>
									<form th:each="ans:${item.answers}">
										<div class="row">
											<input style="margin-top:2px;margin-left:20px" type="radio" name="optradio">
											<span th:utext="${ans.content}"></span>
										</div>

									</form>
								</div>

								<button style="float: right; margin: 10px; border-radius: 30px">
									<i class="fas fa-flag-checkered"></i>Nộp bài
								</button>
							</form>
						</div>

					</div>
				</div>
			</div>

			<!-- Tabs navs -->

		</div>
</div>

</section>
<style>
.col {
	font-size: 1.3rem;
	max-width: 200px;
}

.row {
	margin-top: 20px;
}

.the {
	background-color: white
}

.card {
	width: 120px;
	text-align: center;
	border-radius: 30px;
}

#content {
	border: solid 1px;
	border-radius: 20px
}

a {
	cursor: pointer;
}

.col-sm-6 img {
	height: 100px;
	border: solid #67caa4 2px;
}
</style>


</div>
</html>