<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="views/web/layout/base-layout">
<div layout:fragment="body">
	<section class="content-area">
		<div th:insert="views/web/exam/topheading :: top"></div>
		<div class="container site-content sidebar-right"
			style="font-size: 1.4rem">
			<div class="row">
				<div class="col-sm-3">
					<h4>
						<strong th:text="@{'Tổng thời gian:'+${test.time}+' phút'}">
							<span style="color: red"> </span>

						</strong>

					</h4>
					<ul>
						<li th:if="${vocabQues} and ${#lists.size(vocabQues)>0}"><form
								th:action="@{'/exams/'+${test.id}+'/doExam/vocab'}">
								<button
									style="background-color: pink; width: 200px; height: 30px;"
									disabled class="select_content">Từ vựng</button>
							</form></li>
						<li th:if="${gramQues} and ${#lists.size(gramQues)>0}"><form
								th:action="@{'/exams/'+${test.id}+'/doExam/gram'}">
								<button style="background-color: pink; width: 200px; height: 30px;" disabled
									class="select_content">Ngữ pháp</button>
							</form></li>
						<li th:if="${readQues} and ${#lists.size(readQues)>0}"><form
								th:action="@{'/exams/'+${test.id}+'/doExam/read'}">
								<button style="background-color: pink; width: 200px; height: 30px;" disabled
									class="select_content">Đọc hiểu</button>
							</form></li>
						<li th:if="${lisQues} and ${#lists.size(lisQues)>0}"><form
								th:action="@{'/exams/'+${test.id}+'/doExam/listening'}">
								<button style="background-color: pink; width: 200px; height: 30px;" disabled
									class="select_content">Nghe</button>
							</form></li>

					</ul>
					<p style="visibility: hidden" th:text="${test.id}" id="testId"></p>
					<!-- 	<div class="row">
						<div class="col-sm-1"></div>
						<div class="col-sm-10" style="width: 100%">
							<form th:action="@{'/exams/'+${test.id}+'/examResult'}" onsubmit=" validateForm()">
								<button style="width: 100%; border-radius: 20px">HOÀN
									THÀNH</button>
							</form>

						</div>
						<div class="col-sm-1"></div>
					</div> -->
				</div>
				<div class="col-sm-1"></div>
				<div class="col-sm-7">

					<div
						th:if="${vocabQues}!=null and ${vocabPage}!=null  and ${#lists.size(vocabQues)>0}"
						class="row">
						<h3>
							<strong>問題1：＿＿ の ことばは どう かきますか。１・２・３・４から いちばん いい ものを ひとつ
								えらんで ください。</strong>
						</h3>
					</div>
					<form method="post" id="vocabForm" onsubmit=" validateForm()"
						th:action="@{'/exams/'+${test.id}+'/doExam/vocab/save'}"
						th:if="${vocabQues}!=null and ${vocabPage}!=null and ${#lists.size(vocabQues)>0}">
						<div th:each="ques,in:${vocabQues}" class="ques">
							<div class="row">

								<h4 th:utext="${in.index+1}+'.'+${ques.content}"></h4>
								<input type="hidden" th:id="@{'ques'+${in.index}}"
									th:value="${ques.id}" th:name="questionId">
							</div>
							<div class="row">
								<div class="col-sm-5">
									<div>
										a.<input th:name="'answer_'+${ques.id}"
											th:value="${ques.answers[0].id}" type="radio"><span
											th:text="${ques.answers[0].content}"></span>
									</div>
									<div>
										b.<input th:name="'answer_'+${ques.id}"
											th:value="${ques.answers[1].id}" type="radio"><span
											th:text="${ques.answers[1].content}"></span>
									</div>
								</div>
								<div class="col-sm-2"></div>
								<div class="col-sm-5">
									<div>
										c.<input th:name="'answer_'+${ques.id}"
											th:value="${ques.answers[2].id}" type="radio"><span
											th:text="${ques.answers[2].content}"></span>
									</div>
									<div>
										d.<input th:name="'answer_'+${ques.id}"
											th:value="${ques.answers[3].id}" type="radio"><span
											th:text="${ques.answers[3].content}"></span>
									</div>
								</div>




							</div>
							<p id="lengthVocab" style="visibility: hidden"
								th:text="${#lists.size(vocabQues)}">
						</div>

						<button type="submit" style="margin-left: 45%">Lưu</button>
					</form>
					<script>
						function validateForm() {
							//var testId = document.getElementById('testId').innerHTML;
							var lengthQ = document
									.getElementById('lengthVocab').innerHTML;
							var formValid = 0;
							for (j = 0; j < parseInt(lengthQ); j++) {
								var quesId = document
										.getElementById('ques' + j).value;
								var radios = document
										.getElementsByName("answer_" + quesId);

								var i = 0;
								while (i < radios.length) {
									if (radios[i].checked)
										formValid += 1;
									i++;
								}

							}
							if (parseInt(formValid) < lengthQ) {
								alert("Bạn chưa trả lời hết các câu hỏi!");
								event.preventDefault();
							}

							else
								document.getElementById("vocabForm").submit()

						}
					</script>


					<div
						th:if="${gramQues} and ${gramPage} and ${#lists.size(gramQues)>0}"
						class="row">
						<h3>
							<strong>問題2：（ ）に 何を 入れますか。１．２．３．４から いちばん いい ものを ひとつ
								えらんでください。</strong>
						</h3>
					</div>
					<form method="post" onsubmit="validateForm2()" id="gramForm"
						th:if="${gramQues} and ${gramPage} and ${#lists.size(gramQues)>0}"
						th:action="@{'/exams/'+${test.id}+'/doExam/gram/save'}">
						<div th:each="ques,in:${gramQues}" class="ques">
							<div class="row">

								<h4 th:utext="${in.index+1}+'.'+${ques.content}"></h4>
								<input type="hidden" th:value="${ques.id}"
									th:id="'ques'+${in.index}" th:name="questionId">
							</div>
							<div class="row">
								<div class="col-sm-5">
									<div>
										a.<input th:name="'answer_'+${ques.id}"
											th:value="${ques.answers[0].id}" type="radio"><span
											th:text="${ques.answers[0].content}"></span>
									</div>
									<div>
										b.<input th:name="'answer_'+${ques.id}"
											th:value="${ques.answers[1].id}" type="radio"><span
											th:text="${ques.answers[1].content}"></span>
									</div>
								</div>
								<div class="col-sm-2"></div>
								<div class="col-sm-5">
									<div>
										c.<input th:name="'answer_'+${ques.id}"
											th:value="${ques.answers[2].id}" type="radio"><span
											th:text="${ques.answers[2].content}"></span>
									</div>
									<div>
										d.<input th:name="'answer_'+${ques.id}"
											th:value="${ques.answers[3].id}" type="radio"><span
											th:text="${ques.answers[3].content}"></span>
									</div>
								</div>



							</div>
						</div>
						<button style="margin-left: 45%">Lưu</button>
						<p id="lengthGram" style="visibility: hidden"
							th:text="${#lists.size(gramQues)}">
					</form>
					<script>
						function validateForm2() {
							//var testId = document.getElementById('testId').innerHTML;
							var lengthQ = document.getElementById('lengthGram').innerHTML;
							var formValid = 0;
							for (j = 0; j < parseInt(lengthQ); j++) {
								var quesId = document
										.getElementById('ques' + j).value;
								var radios = document
										.getElementsByName("answer_" + quesId);

								var i = 0;
								while (i < radios.length) {
									if (radios[i].checked)
										formValid += 1;
									i++;
								}

							}
							if (parseInt(formValid) < lengthQ) {
								alert("Bạn chưa trả lời hết các câu hỏi!");
								event.preventDefault();
							}

							else
								document.getElementById("gramForm").submit()

						}
					</script>
					<div
						th:if="${readQues} and ${readPage} and ${#lists.size(readQues)>0}"
						class="row">
						<h3>
							<strong>問題3：（ ）に 何を 入れますか。１．２．３．４から いちばん いい ものを ひとつ
								えらんでください。</strong>
						</h3>
					</div>
					<form method="post"
						th:if="${readQues} and ${readPage} and ${#lists.size(readQues)>0}"
						th:action="@{'/exams/'+${test.id}+'/doExam/read/save'}">
						<div th:each="ques,in:${readQues}" class="ques">
							<div class="row">

								<h4 th:utext="${in.index+1}+'.'+${ques.content}"></h4>
								<input type="hidden" th:value="${ques.id}" th:name="questionId">
							</div>
							<div class="row">
								<div class="col-sm-5">
									<div>
										a.<input th:name="'answer_'+${ques.id}"
											th:value="${ques.answers[0].id}" type="radio"><span
											th:text="${ques.answers[0].content}"></span>
									</div>
									<div>
										b.<input th:name="'answer_'+${ques.id}"
											th:value="${ques.answers[1].id}" type="radio"><span
											th:text="${ques.answers[1].content}"></span>
									</div>
								</div>
								<div class="col-sm-2"></div>
								<div class="col-sm-5">
									<div>
										c.<input th:name="'answer_'+${ques.id}"
											th:value="${ques.answers[2].id}" type="radio"><span
											th:text="${ques.answers[2].content}"></span>
									</div>
									<div>
										d.<input th:name="'answer_'+${ques.id}"
											th:value="${ques.answers[3].id}" type="radio"><span
											th:text="${ques.answers[3].content}"></span>
									</div>
								</div>



							</div>
						</div>
						<button style="margin-left: 45%">Lưu</button>
					</form>

					<div
						th:if="${lisQues} and ${lisPage} and ${#lists.size(lisQues)>0}"
						class="row">

						<h3>
							<strong>問題4：（ ）に 何を 入れますか。１．２．３．４から いちばん いい ものを ひとつ
								えらんでください。</strong>
						</h3>
					</div>
					<form method="post"
						th:if="${lisQues} and ${lisPage} and ${#lists.size(lisQues)>0}"
						th:action="@{'/exams/'+${test.id}+'/doExam/listen/save}">
						<div th:each="ques,in:${lisQues}" class="ques">
							<div class="row">

								<h4 th:utext="${in.index+1}+'.'+${ques.content}"></h4>
								<input type="hidden" th:value="${ques.id}" th:name="questionId">
							</div>
							<div class="row">
								<div class="col-sm-5">
									<div>
										a.<input th:name="'answer_'+${ques.id}"
											th:value="${ques.answers[0].id}" type="radio"><span
											th:text="${ques.answers[0].content}"></span>
									</div>
									<div>
										b.<input th:name="'answer_'+${ques.id}"
											th:value="${ques.answers[1].id}" type="radio"><span
											th:text="${ques.answers[1].content}"></span>
									</div>
								</div>
								<div class="col-sm-2"></div>
								<div class="col-sm-5">
									<div>
										c.<input th:name="'answer_'+${ques.id}"
											th:value="${ques.answers[2].id}" type="radio"><span
											th:text="${ques.answers[2].content}"></span>
									</div>
									<div>
										d.<input th:name="'answer_'+${ques.id}"
											th:value="${ques.answers[3].id}" type="radio"><span
											th:text="${ques.answers[3].content}"></span>
									</div>
								</div>



							</div>
						</div>
						<button style="margin-left: 45%">Lưu</button>
					</form>



				</div>
				<div id="col-sm-1">
					<i class="far fa-clock"></i><strong id="time"></strong>

				</div>
				<p id="deadline" th:if="${session.start_}"
					th:text="${session.start_}" style="visibility: hidden"></p>
				<p id="timeDo" th:if="${session.time_}" th:text="${session.time_}"
					style="visibility: hidden"></p>
			</div>
		</div>
		<div th:if="${timeUp}">
			<div th:insert="views/web/exam/timeUpModal:: timeUp"></div>
			<script>
				$(document).ready(function() {

					$("#timeUpModal").modal("show");

				});
			</script>
		</div>
	</section>
	<style>
.col-sm-3 {
	background-color: #ececec;
	border-radius: 30px;
	padding: 10px;
	height: 50%
}

.col-sm-7 {
	border: 2px dotted;
}

.select_content {
	background-color: white;
	margin: 15px
}

.col-sm-7.row {
	margin: 5px
}

.ques {
	padding: 10px
}

#col-sm-1 {
	position: fixed;
	right: 0;
	font-size: 1.7rem;
	color: blue;
}
</style>
	<script>
		var deadline_ = document.getElementById('deadline').innerHTML;
		var time_ = document.getElementById('timeDo').innerHTML;
		var x = setInterval(function() {
			var now = new Date().getTime();
			var deadline = Date.parse(deadline_) + parseInt(time_) * 60000
			var t = deadline - now;
			var days = Math.floor(t / (1000 * 60 * 60 * 24));
			var hours = Math.floor((t % (1000 * 60 * 60 * 24))
					/ (1000 * 60 * 60));
			var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
			var seconds = Math.floor((t % (1000 * 60)) / 1000);
			document.getElementById("time").innerHTML = hours + ":" + minutes
					+ ":" + seconds;
			if (t < 10) {
				document.getElementById("time").style.color = "red"
			}
			if (t < 0) {
				clearInterval(x);
				document.getElementById("time").innerHTML = "Hết giờ";

			}
		}, 1000);
	</script>
</div>

</html>