<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="views/web/layout/base-layout">
<div layout:fragment="body">
	<section class="content-area">
		<div th:insert="views/web/exam/topheading :: top"></div>
		<div class="container site-content sidebar-right"
			style="font-size: 1.4rem">
			<div class="row">
				<h1 style="padding:20px">
					<strong>TEST NĂNG LỰC N5</strong>
				</h1>
			</div>
			<div class="row" style="padding:20px">
				<div class="col-sm-3">
					<div class="card" style="width: 25rem;">
						<img class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">Đề thi N5 #02</h5>

						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><span>Gồm 3 phần thi</span></li>
							<li class="list-group-item"><span>Điểm đạt: 90 điểm</span></li>
							<li class="list-group-item"><span>Thời gian: 155 phút</span></li>
							
						</ul>
						<div class="card-body">
							<form th:action="@{/exams/1/1}">
								<button class="card-link">Chọn thi</button>
							</form>

						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card" style="width: 25rem;">
						<img class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">Đề thi N5 #02</h5>

						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><span>Gồm 3 phần thi</span></li>
							<li class="list-group-item"><span>Điểm đạt: 90 điểm</span></li>
							<li class="list-group-item"><span>Thời gian: 155 phút</span></li>
							
						</ul>
						<div class="card-body">
							<button class="card-link">Chọn thi</button>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card" style="width: 25rem;">
						<img class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">Đề thi N5 #02</h5>

						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><span>Gồm 3 phần thi</span></li>
							<li class="list-group-item"><span>Điểm đạt: 90 điểm</span></li>
							<li class="list-group-item"><span>Thời gian: 155 phút</span></li>
							
						</ul>
						<div class="card-body">
							<button class="card-link">Chọn thi</button>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card" style="width: 25rem;">
						<img class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">Đề thi N5 #02</h5>

						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><span>Gồm 3 phần thi</span></li>
							<li class="list-group-item"><span>Điểm đạt: 90 điểm</span></li>
							<li class="list-group-item"><span>Thời gian: 155 phút</span></li>
							
						</ul>
						<div class="card-body">
							<button class="card-link">Chọn thi</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="padding:20px">
				<div class="col-sm-3">
					<div class="card" style="width: 25rem;">
						<img class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">Đề thi N5 #01</h5>

						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><span>Gồm 3 phần thi</span></li>
							<li class="list-group-item"><span>Điểm đạt: 90 điểm</span></li>
							<li class="list-group-item"><span>Thời gian: 155 phút</span></li>
							
						</ul>
						<div class="card-body">
							<button class="card-link">Chọn thi</button>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card" style="width: 25rem;">
						<img class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">Đề thi N5 #02</h5>

						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><span>Gồm 3 phần thi</span></li>
							<li class="list-group-item"><span>Điểm đạt: 90 điểm</span></li>
							<li class="list-group-item"><span>Thời gian: 155 phút</span></li>
							
						</ul>
						<div class="card-body">
							<button class="card-link">Chọn thi</button>
						</div>
					</div>
				</div>
			</div>
				</div>
	</section>
	<style>
.col-sm-3 {
	padding: 0
}

ul {
	margin-left: 0
}

.card {
	text-align: center;
	background: antiquewhite
}


button {
	border-radius: 20px;
	font-size: 1.4rem
}

h5 {
	font-weight: 700
}

h2 {
	color: lightseagreen
}
</style>
</div>
</html>