<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="views/web/layout/base-layout">
<div layout:fragment="body">
	<section class="content-area">
		<div th:insert="views/web/exam/topheading :: top"></div>
		<div class="container site-content sidebar-right"
			style="font-size: 1.4rem">
			<div class="row">
				<h1 style="padding: 20px">
					<strong th:text="@{'TEST NĂNG LỰC N'+${level}}"></strong>
				</h1>
			</div>
			<div th:if="${exams}" class="row" style="padding: 20px">
				<div  th:each="item:${exams}" class="col-sm-3">
					<div class="card" style="width: 25rem;">
						<img class="card-img-top">
						<div class="card-body">
							<h5 class="card-title" th:text="${item.name}"></h5>

						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><span th:text="@{'Gồm '+${item.partCount}+' phần thi'}"></span></li>
							<li class="list-group-item"><span
								th:text="@{'Điểm đạt: '+${item.score}}"></span></li>
							<li class="list-group-item"><span
								th:text="@{'Thời gian: '+${item.time}+' phút'}"> </span></li>

						</ul>
						<div class="card-body">
							<form th:action="@{'/exams/'+${level}+'/'+${item.id}}">
								<button class="card-link">Chọn thi</button>
							</form>

						</div>
					</div>
				</div>
			</div>
			<div th:if="${exams}==null" class="row" style="padding: 20px">
			<h3>Chưa có bài kiểm tra ở cấp độ này</h3>
			</div>

		</div>
	</section>
	<style>
.col-sm-3 {
	padding: 0
}

ul {
	margin-left: 0
}

.card {
	text-align: center;
	background: antiquewhite
}

button {
	border-radius: 20px;
	font-size: 1.4rem
}

h5 {
	font-weight: 700
}

h2 {
	color: lightseagreen
}
</style>
</div>
</html>