<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="views/web/layout/base-layout">
<div layout:fragment="body">
	<section class="content-area">
		<div th:insert="views/web/exam/topheading :: top"></div>
		<div class="container site-content sidebar-right"
			style="font-size: 1.4rem">
			<div class="row">
				<h1 style="padding:20px"><strong>Phần luyện thi trình độ</strong></h1>
			</div>
			<div class="row" style="padding:20px">
				<div class="col-sm-3">
					<div class="card" style="width: 25rem;">
						<img class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">Thi thử miễn phí</h5>

						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><span>JLPT N5</span></li>

						</ul>
						<div class="card-body">
						<form th:action="@{/exams/1}"><button class="card-link">Tham gia thi</button></form>
							
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card" style="width: 25rem;">
						<img class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">Thi thử miễn phí</h5>

						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><span
								style="background: #00afd6; color: #fff; border-radius: 4px">JLPT
									N5</span></li>

						</ul>
						<div class="card-body">
							<button class="card-link">Tham gia thi</button>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card" style="width: 25rem;">
						<img class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">Thi thử miễn phí</h5>

						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><span>JLPT N5</span></li>

						</ul>
						<div class="card-body">
							<button class="card-link">Tham gia thi</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="padding:20px">
				<div class="col-sm-3">
					<div class="card" style="width: 25rem;">
						<img class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">Thi thử miễn phí</h5>

						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><span>JLPT N5</span></li>

						</ul>
						<div class="card-body">
							<button class="card-link">Tham gia thi</button>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card" style="width: 25rem;">
						<img class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">Thi thử miễn phí</h5>

						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><span>JLPT N5</span></li>

						</ul>
						<div class="card-body">
							<button class="card-link">Tham gia thi</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="background:aliceblue">
				<div class="block-content" style="padding:20px">
					<h1>
						<strong>Tại sao nên thi thử JLPT trước khi bước vào kỳ
							thi thật?</strong>
					</h1>
					<p>
						<i>Trước khi bước vào kì thi JLPT có lẽ các bạn sẽ tâm trạng
							lo lắng liệu kiến thức của mình có đủ hay không, mình có phân bổ
							thời gian hợp lý hay không…? Tất cả những điều bạn lo lắng sẽ
							được giảm bớt qua kì thử Online chuẩn JLPT trên trang web Riki
							Online. Qua những bài thi thử online của Riki sẽ đem tới cho các
							bạn :</i>
					</p>
					<h2>Giúp bạn ôn tập lại kiến thức hiệu quả.</h2>
					<p>Bạn càng giải nhiều đề thi thì các kiến thức đó càng khắc
						sâu trong trí nhớ của bạn. Khi thi thử, tâm lý của bạn sẽ hoàn
						toàn khác so với việc làm các bài luyện tập thông thường. Các lỗi
						sai bạn mắc phải khi thi thử sẽ khiến bạn nhớ lâu hơn và không lặp
						lại trong bài thi thật. Các bạn hãy tham gia các kỳ thi thử thường
						xuyên,sau mỗi bài thi, bạn nên ngồi lại và nghiền ngẫm lỗi sai mà
						mình đã gặp phải, phân tích hướng giải quyết và ghi nhớ nó trong
						đầu để không tái diễn trong lần thi sau.</p>
					<h2>Làm quen với cấu trúc đề thi.</h2>
					<p>Cấu trúc đề thi thử của Riki có cấu trúc giống với đề thi
						JLPT 100% do đó bạn sẽ biết cách nên tập trung vào dạng bài nào
						trước, dạng bài nào sau để có thể đạt được mức điểm cao nhất.</p>
					<h2>Phân bổ thời gian hợp lý.</h2>
					<p>Rất nhiều bạn học viên nói rằng các bạn thường không đủ thời
						gian làm hết đề thi và thường bỏ qua những câu hỏi dễ ăn điểm.
						Điều đó thật đáng tiếc. Kiến thức của bạn đủ nhưng bạn lại thiếu
						mất kỹ năng và khả năng thực chiến. Hãy luyện thi thử thật nhiều
						sẽ giúp các bạn biết cách phân bố thời gian hợp lý, biết cách cân
						nhắc nên làm phần nào trước, phần nào sau. Để khi đi thi thật
						không bị mất quá nhiều thời gian vào những phần không cần thiết.</p>
					<h2>Thi thử JLPT giúp tăng điểm khi thi thật</h2>
					<p>Sau mỗi bài thi thử sẽ giúp bạn rút ra những lưu ý và kinh
						nghiệm trong các lần thi sau. Bạn sẽ khắc phục lại được những lỗ
						hổng kiến thức nhờ vào những câu mình đã làm sai. Và cũng chính
						những câu sai ấy sẽ giúp bạn nhớ lâu hơn, khi gặp lại nó hay những
						câu tương tự thì chắc chắn bạn sẽ làm đúng, thậm chí tăng lên 20 -
						30 điểm nếu thường xuyên tham gia thi thử tiếng Nhật.</p>
					<h2>Tiết kiệm thời gian, chi phí và công sức.</h2>
					<p>Các kì thi thử trên trang Riki Online là hoàn toàn miễn phí
						vì thế các bạn không mất một chút chi phí nào cho việc thi thử.
						Các kỳ thi được tổ chức mỗi tháng 1 lần dưới hình thức online, các
						bạn có thể ở nhà và làm bài thi ngay trên máy tính của mình mà
						không mất công di chuyển tới các trung tâm. Các bạn sẽ có được tất
						cả những điều trên chỉ bằng 1 cái click tạo tài khoản trên website
						Riki Online. Còn chần chờ gì nữa, hãy tạo ngay cho mình 1 tài
						khoản để có thể thi thử JLPT thôi nào. Chúc các bạn sẽ đạt điểm
						cao trong kỳ thi sắp tới.</p>
				</div>
			</div>
		</div>
	</section>
	<style>
.col-sm-3 {
	padding: 0
}

ul {
	margin-left: 0
}

.card {
	text-align: center;
	background: antiquewhite
}

/* .row {
	margin: 10px;
	margin-bottom:40px
}

 */button {
	border-radius: 20px;
	font-size: 1.4rem
}

h5 {
	font-weight: 700
}
h2{
color:lightseagreen}
</style>
</div>
</html>