<div class="modal" id="timeUpModal" th:fragment="timeUp">
	<div class="modal-dialog modal-dialog-scrollable"
		th:style="' max-width: 700px'" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalScrollableTitle">THÔNG
					BÁO</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-4">
						<img style="width: 200px"
							th:src="@{https://miro.medium.com/max/712/1*c3cQvYJrVezv_Az0CoDcbA.jpeg}">
					</div>

					<div class="col-sm-8">
						<h3 th:if="${timeUp}!=null" >Hết thời gian làm bài</h3>
						
					</div>

				</div>

				<br>


			</div>
		</div>
	</div>
</div>