<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="views/web/layout/base-layout">

<div layout:fragment="body">
	<section class="content-area">
		<div th:insert="views/web/course/topheading :: top"></div>
		<div th:if="${noLesson}==null"
			class="container site-content sidebar-right">
			<div class="row">
				<main id="main" class="site-main col-sm-9 alignleft">
					<article id="post-5428"
						class="post-5428 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-general pmpro-has-access course">
						<div class="entry-content">
							<div id="lp-single-course" class="lp-single-course">

								<div id="learn-press-course" class="course-summary learn-press">
									<h1 class="entry-title" itemprop="name"
										th:text="${course.name}"></h1>
									<div class="course-meta"></div>
									<div class="course-payment">
										<div class="course-price">
											<div class="value  free-course"
												th:text="'Cấp độ: '+${course.level}"></div>
										</div>
										<div class="lp-course-buttons">
											<form
												th:action="@{'/courses/'+${course.id}+'/lessons/'+${course.lessons[0].id}}">
												<button
													th:if="${lamTestLevel}==null and ${chuaLogin}==null and  ${lowLevel}==null"
													style="font-size: 20px; border-radius: 15px">Tham
													gia học</button>
											</form>



											<button
												th:if="${lamTestLevel}!=null or ${chuaLogin}!=null or  ${lowLevel}!=null "
												onClick="show()"
												style="font-size: 20px; border-radius: 15px">Tham
												gia học</button>




										</div>
									</div>
									<div class="course-summary">

										<div id="course-landing" class="course-landing-summary">
											<div id="learn-press-course-tabs" class="course-tabs">
												<ul class="nav nav-tabs">
													<li role="presentation" class="course-nav-tab active"><a
														data-target="#overview" data-toggle="tab"> <i
															class="fa fa-bookmark"></i> <span>Overview</span>
													</a></li>
													<li role="presentation" class="course-nav-tab"><a
														data-toggle="tab" data-target="#curriculum"> <i
															class="fa fa-cube"></i> <span>Danh sách bài học</span>
													</a></li>

												</ul>
												<div class="tab-content">
													<div class="tab-pane" id="overview">
														<div class="course-description"
															id="learn-press-course-description">
															<div class="thim-course-content">
																<h4>MÔ TẢ VỀ KHÓA HỌC</h4>

																<ul class="thim-list-content">
																	<li th:text="${course.description}">.</li>
																</ul>
															</div>
															<div class="thim-course-info">
																<h3 class="title">THÔNG TIN KHÓA HỌC</h3>
																<ul>
																	<li class="lectures-feature"><i
																		class="fa fa-files-o"></i> <span class="label">Lessons</span>
																		<span class="value"
																		th:text="${#lists.size(course.lessons)}"></span></li>
																	<li class="quizzes-feature"><i
																		class="fa fa-puzzle-piece"></i> <span class="label">Tests</span>
																		<span class="value"
																		th:text="${#lists.size(course.lessons)}"></span></li>
																	<li class="students-feature"><i
																		class="fa fa-users"></i> <span class="label">Students</span>
																		<span class="value"></span></li>

																</ul>
															</div>
														</div>
													</div>
													<div class="tab-pane" id="curriculum">
														<div class="thim-curriculum-buttons"></div>
														<div class="course-curriculum"
															id="learn-press-course-curriculum">
															<div class="curriculum-scrollable">
																<nav class="thim-font-heading learn-press-breadcrumb"
																	itemprop="breadcrumb">
																	<a href="https://educationwp.thimpress.com/courses/">Courses</a><i
																		class="fa-angle-right fa"></i><a
																		href="https://educationwp.thimpress.com/course-category/general/">General</a><i
																		class="fa-angle-right fa"></i><span class="item-name">LMS
																		Interactive Content</span>
																</nav>
																<ul class="curriculum-sections">

																	<li class="section"
																		th:each="lesson,index: ${course.lessons}"
																		id="section-learnpress-interactive-content-27"
																		data-id="learnpress-interactive-content-27"
																		data-section-id="27">
																		<h4 class="section-header">
																			<span class="collapse"><i
																				class="far fa-list-alt"></i></span><a
																				
																				th:text="${lesson.name}"></a> <span class="meta">
																				<span class="step"></span>
																			</span>
																		</h4>
																		<ul class="section-content">
																			<li
																				class="course-item course-item-lp_lesson course-item-9206 item-preview has-status course-lesson"
																				data-type="lp_lesson">
																				<div class="meta-left">
																					<span class="course-format-icon"><i
																						class="fa fa-file-o"></i></span>
																					<div class="index">
																						<span class="label" th:text="'Phần 1'"></span>
																					</div>
																				</div> <a
																				class="lesson-title course-item-title button-load-item">
																					Từ vựng </a> <span class="meta duration"></span>
																				<div class="course-item-meta">
																					<a title="Previews"
																						class="lesson-preview button-load-item"
																						data-id="9206" data-complete-nonce="e46b6f9fea">
																						<i class="fa fa-eye" data-preview="Preview"></i>
																					</a>
																				</div>
																			</li>
																			<li th:if="${lesson.level>=3}"
																				class="course-item course-item-lp_lesson course-item-9206 item-preview has-status course-lesson"
																				data-type="lp_lesson">
																				<div class="meta-left">
																					<span class="course-format-icon"><i
																						class="fa fa-file-o"></i></span>
																					<div class="index">
																						<span class="label" th:text="'Phần 2'"></span>
																					</div>
																				</div> <a
																				class="lesson-title course-item-title button-load-item">
																					Ngữ pháp </a> <span class="meta duration"></span>
																				<div class="course-item-meta">
																					<a title="Previews"
																						class="lesson-preview button-load-item"
																						data-id="9206" data-complete-nonce="e46b6f9fea">
																						<i class="fa fa-eye" data-preview="Preview"></i>
																					</a>
																				</div>
																			</li>
																			<li th:if="${lesson.level>=3}"
																				class="course-item course-item-lp_lesson course-item-9206 item-preview has-status course-lesson"
																				data-type="lp_lesson">
																				<div class="meta-left">
																					<span class="course-format-icon"><i
																						class="fas fa-headphones-alt"></i></span>
																					<div class="index">
																						<span class="label" th:text="'Phần 3'"></span>
																					</div>
																				</div> <a
																				class="lesson-title course-item-title button-load-item">
																					Nghe hiểu </a> <span class="meta duration"></span>
																				<div class="course-item-meta">
																					<a title="Previews"
																						class="lesson-preview button-load-item"
																						data-id="9206" data-complete-nonce="e46b6f9fea">
																						<i class="fa fa-eye" data-preview="Preview"></i>
																					</a>
																				</div>
																			</li>
																			<li
																				class="course-item course-item-lp_h5p course-item-9211 item-locked course-h5p"
																				data-type="lp_h5p">
																				<div class="meta-left">
																					<span class="course-format-icon"><i
																						class="fa fa-puzzle-piece"></i></span>
																					<div class="index">
																						<span class="label" th:if="${lesson.level>=3}">Phần
																							4 </span> <span class="label" th:if="${lesson.level<3}">Phần
																							2 </span>
																					</div>
																				</div> <a
																				class="h5p-title course-item-title button-load-item">
																					<span class="item-name">Kiểm tra cuối bài</span>
																			</a>
																				<div class="course-item-meta">
																					<i class="fa item-meta course-item-status trans"></i>
																				</div>
																			</li>

																		</ul>
																	</li>
																</ul>
															</div>
														</div>
													</div>

												</div>
											</div>
											<script data-cfasync="false"
												src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

										</div>
					</article>
				</main>
				<div class="col-sm-3" th:style="'padding-left: 90px;'"
					th:insert="views/web/course/sidebar :: sidebar"></div>

			</div>

		</div>
		<div th:if="${noLesson}!=null"
			class="container site-content sidebar-right">
			<div class="row">
				<div class="col-sm-9">
					<h3>Chưa có thông tin khóa học</h3>


				</div>


				<div class="col-sm-3" th:style="'padding-left: 90px;'"
					th:insert="views/web/course/sidebar :: sidebar"></div>
			</div>
		</div>
		<p th:if="${lamTestLevel}" style="visibility: hidden"
			id="lamTestLevel" th:text="${lamTestLevel}"></p>
		<p th:if="${chuaLogin}" style="visibility: hidden" id="chuaLogin"
			th:text="${chuaLogin}"></p>
		<p th:if="${lowLevel}" style="visibility: hidden" id="lowLevel"
			th:text="${lowLevel}"></p>
	</section>
	<section th:if="${chuaLogin}!=null" class="content-area">
		<script>
			$(document).ready(function() {

				$("#loginModal").modal("show");

			});
		</script>
	</section>

	<section th:if="${lowLevel}!=null" class="content-area">
		<div th:insert="views/web/lesson/lowLevel :: lowLevel"></div>
		<script>
			$(document).ready(function() {

				$("#lowLevelModal").modal("show");

			});
		</script>
	</section>

	<section th:if="${lamTestLevel}!=null" class="content-area">

		<div th:insert="views/web/course/testLevelModal :: testNotifi"></div>
		<script>
			$(document).ready(function() {

				$("#testLevelNotifi").modal("show");

			});
		</script>

	</section>
	<script>
		function show() {
			if (document.getElementById('chuaLogin') != null) {
				$("#loginModal").modal("show");

			} else if (document.getElementById('lamTestLevel') != null) {

				$("#testLevelNotifi").modal("show");
			} else if (document.getElementById('lowLevel') != null) {
				$("#lowLevelModal").modal("show");
			}

		}
	</script>
</div>
</html>
