<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="views/web/layout/base-layout">
<div layout:fragment="body">
	<section class="content-area">
		<div th:insert="views/web/course/topheading :: top"></div>
		<div class="container site-content sidebar-right">
			<div class="row">
				<main id="main" class="site-main col-sm-9 alignleft">
					<article id="post-5428"
						class="post-5428 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-general pmpro-has-access course">
						<div class="entry-content">
							<div id="lp-single-course" class="lp-single-course">

								<div id="learn-press-course" class="course-summary learn-press">
									<h1 class="entry-title" itemprop="name">Tên khóa học</h1>
									<div class="course-meta">Mô tả</div>
									<div class="course-payment">
										<div class="course-price">
											<div class="value  free-course">Cấp độ</div>
										</div>

									</div>
									<div class="course-summary">

										<div id="course-landing" class="course-landing-summary">
											<div id="learn-press-course-tabs" class="course-tabs">
												<ul class="nav nav-tabs">
													<li role="presentation"
														class="course-nav-tab-overview active"><a
														data-toggle="tab"> <i class="fa fa-bookmark"></i> <span>Overview</span>
													</a></li>
													<li role="presentation" class="course-nav-tab-curriculum">
														<a href="index.html#tab-curriculum" data-toggle="tab">
															<i class="fa fa-cube"></i> <span>Curriculum</span>
													</a>
													</li>

												</ul>
												<div class="tab-content">
													<div
														class="tab-pane course-tab-panel-overview course-tab-panel active"
														id="tab-overview">
														<div class="course-description"
															id="learn-press-course-description">
															<div class="thim-course-content">
																<h4>COURSE DESCRIPTION</h4>
																<p>WordPress LMS Plugin – LearnPress is a
																	comprehensive WordPress LMS Plugin for WordPress, just
																	like WordPress Moodle or Moodle for WordPress if you
																	know what Moodle is. This is one of the best WordPress
																	LMS Plugins can be used to easily create &amp; sell
																	courses online. Each course curriculum can be made with
																	lessons &amp; quizzes which can be managed with
																	easy-to-use user interface. With this WordPress LMS
																	plugin, you can quickly and easily create education,
																	online school, online-course websites with no
																	coding-knowledge required.</p>
																<p>
																	<a target="_blank" rel="noopener noreferrer"><span
																		style="text-decoration: underline;"><strong>Zoom
																				Meeting <span class="label">Lecture</span>
																		</strong></span></a>
																</p>
																<h4>CERTIFICATION</h4>
																<p>As a powerful high-quality LMS for WordPress,
																	LearnPress is the best choice for any instructor,
																	teacher, school, university, education project,
																	eLearning and online course websites.</p>
																<h4>LEARNING OUTCOMES</h4>
																<ul class="thim-list-content">
																	<li>Over 37 lectures and 55.5 hours of content!</li>
																	<li>Testing Training Included.</li>
																	<li>Learn Software Testing and Automation basics
																		from a professional trainer from your own desk.</li>
																	<li>Information packed practical training starting
																		from basics to advanced testing techniques.</li>
																	<li>Best suitable for beginners to advanced level
																		users and who learn faster when demonstrated.</li>
																	<li>Course content designed by considering current
																		software testing technology and the job market.</li>
																	<li>Practical assignments at the end of every
																		session.</li>
																	<li>Practical learning experience with live
																		project work and examples.</li>
																</ul>
															</div>
															<div class="thim-course-info">
																<h3 class="title">Course Features</h3>
																<ul>
																	<li class="lectures-feature"><i
																		class="fa fa-files-o"></i> <span class="label">Lectures</span>
																		<span class="value">8</span></li>
																	<li class="quizzes-feature"><i
																		class="fa fa-puzzle-piece"></i> <span class="label">Quizzes</span>
																		<span class="value">1</span></li>
																	<li class="duration-feature"><i
																		class="fa fa-clock-o"></i> <span class="label">Duration</span>
																		<span class="value">3 hours</span></li>
																	<li class="skill-feature"><i
																		class="fa fa-level-up"></i> <span class="label">Skill
																			level</span> <span class="value">All level</span></li>
																	<li class="language-feature"><i
																		class="fa fa-language"></i> <span class="label">Language</span>
																		<span class="value">English</span></li>
																	<li class="students-feature"><i
																		class="fa fa-users"></i> <span class="label">Students</span>
																		<span class="value">604</span></li>
																	<li class="assessments-feature"><i
																		class="fa fa-check-square-o"></i> <span class="label">Assessments</span>
																		<span class="value">Yes</span></li>
																</ul>
															</div>
														</div>
													</div>
													<div
														class="tab-pane course-tab-panel-curriculum course-tab-panel"
														id="tab-curriculum">
														<div class="thim-curriculum-buttons"></div>
														<div class="course-curriculum"
															id="learn-press-course-curriculum">
															<div class="curriculum-scrollable">
																<nav class="thim-font-heading learn-press-breadcrumb"
																	itemprop="breadcrumb">
																	<a href="https://educationwp.thimpress.com/courses/">Courses</a><i
																		class="fa-angle-right fa"></i><a
																		href="https://educationwp.thimpress.com/course-category/general/">General</a><i
																		class="fa-angle-right fa"></i><span class="item-name">LMS
																		Interactive Content</span>
																</nav>
																<ul class="curriculum-sections">
																	<li class="section"
																		id="section-learnpress-interactive-content-27"
																		data-id="learnpress-interactive-content-27"
																		data-section-id="27">
																		<h4 class="section-header">
																			<span class="collapse"></span> LearnPress Interactive
																			Content <span class="meta"> <span class="step">4</span>
																			</span>
																		</h4>
																		<ul class="section-content">
																			<li
																				class="course-item course-item-lp_lesson course-item-9206 item-preview has-status course-lesson"
																				data-type="lp_lesson">
																				<div class="meta-left">
																					<span class="course-format-icon"><i
																						class="fa fa-file-o"></i></span>
																					<div class="index">
																						<span class="label">Lecture</span>2.1
																					</div>
																				</div> <a
																				class="lesson-title course-item-title button-load-item"
																				href="https://educationwp.thimpress.com/courses/learnpress-101/lessons/getting-started/">
																					Getting Started </a> <span class="meta duration">05
																					min</span>
																				<div class="course-item-meta">
																					<a title="Previews"
																						class="lesson-preview button-load-item"
																						data-id="9206" data-complete-nonce="e46b6f9fea">
																						<i class="fa fa-eye" data-preview="Preview"></i>
																					</a>
																				</div>
																			</li>
																			<li
																				class="course-item course-item-lp_h5p course-item-9210 item-locked course-h5p"
																				data-type="lp_h5p">
																				<div class="meta-left">
																					<span class="course-format-icon"><i
																						class="fa fa-puzzle-piece"></i></span>
																					<div class="index">
																						<span class="label">Quiz</span>2.1
																					</div>
																				</div> <a
																				class="h5p-title course-item-title button-load-item">
																					<span class="item-name">Interactive Video</span>
																			</a>
																				<div class="course-item-meta">
																					<i class="fa item-meta course-item-status trans"></i>
																				</div>
																			</li>
																			<li
																				class="course-item course-item-lp_h5p course-item-9211 item-locked course-h5p"
																				data-type="lp_h5p">
																				<div class="meta-left">
																					<span class="course-format-icon"><i
																						class="fa fa-puzzle-piece"></i></span>
																					<div class="index">
																						<span class="label">Quiz</span>2.2
																					</div>
																				</div> <a
																				class="h5p-title course-item-title button-load-item">
																					<span class="item-name">Interactive Quiz 1</span>
																			</a>
																				<div class="course-item-meta">
																					<i class="fa item-meta course-item-status trans"></i>
																				</div>
																			</li>
																			<li
																				class="course-item course-item-lp_h5p course-item-9212 item-locked course-h5p"
																				data-type="lp_h5p">
																				<div class="meta-left">
																					<span class="course-format-icon"><i
																						class="fa fa-puzzle-piece"></i></span>
																					<div class="index">
																						<span class="label">Quiz</span>2.3
																					</div>
																				</div> <a
																				class="h5p-title course-item-title button-load-item"
																				href="https://educationwp.thimpress.com/courses/learnpress-101/h5p-items/interactive-quiz-2/">
																					<span class="item-name">Interactive Quiz 2</span>
																			</a>
																				<div class="course-item-meta">
																					<i class="fa item-meta course-item-status trans"></i>
																				</div>
																			</li>
																		</ul>
																	</li>
																</ul>
															</div>
														</div>
													</div>

												</div>
											</div>
											<script data-cfasync="false"
												src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

										</div>
					</article>
				</main>
				<div th:insert="views/web/course/sidebar :: sidebar"></div>
			</div>
		</div>
	</section>

</div>
</html>
