<div th:fragment="sidebar" id="sidebar" 
					role="complementary">

					<aside id="course-categories-3"
						class="widget widget_course-categories">
						<div
							class="thim-widget-course-categories thim-widget-course-categories-base template-base-v3">
							<h3  >Tất cả các khóa học </h3>
							<ul>
								<li th:each="item:${courses}"><a th:text="${item.name}" th:href="@{'/courses/'+${item.id}}"></a></li>
								
							
							</ul>
						</div>
					</aside>
					<aside id="courses-7" th:style="'margin-top:200px'"class="widget widget_courses">
						<div
							class="thim-widget-courses thim-widget-courses-base template-list-sidebar-v3">
							<h3 class="widget-title">Khóa học mới nhất</h3>
							<div class="thim-course-list-sidebar">
								
								<div class="lpr_course" th:each="item:${latestCourses}">
									<div class="course-thumbnail">
										<a th:href="@{'/courses/'+${item.id}}"><img
											th:src="${item.image}"
											 /></a>
									</div>
									<div class="thim-course-content" style="margin-left:10px">
										<h5 class="course-title">
											<a th:href="@{'/courses/'+${item.id}}" th:text="${item.name}"></a>
										</h5>
										<div class="course-price" itemprop="offers" itemscope=""
											itemtype="http://schema.org/Offer">
											<div class="value  free-course" itemprop="price"></div>
											<meta itemprop="priceCurrency" content="USD" />
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</aside>
<style>
.course-thumbnail{
padding:10px
}

</style>
				</div>