<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="views/admin/layout/base-layout :: head(~{this :: title}, ~{this :: .custom-link}, ~{this :: .custom-script})">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="admin page">

<title>Listen Form</title>

<link th:href="@{/assets/admin/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link class="custom-link"
	th:href="@{/assets/admin/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">

		<div th:replace="views/admin/layout/sidebar:: sidebar"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<div th:replace="views/admin/layout/topbar:: topbar"></div>

				<!-- Begin Page Content -->

				<div th:if="${status == 'add'} " class="container-fluid">
					<a th:if="${status == 'add'} "
						th:href="@{'/admin/lessons/'+${lessonId}+'/listens'}"><i
						class="fas fa-arrow-left"></i>Trở về</a>
					<div th:if="${msg != null}"
						class="alert alert-dismissible fade show"
						th:classappend="${css == 'error' ? 'alert-danger' : 'alert-success'}"
						role="alert">
						<strong th:text="${msg}"></strong>
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div
						th:insert="views/admin/layout/base-layout :: content(~{ :: #listen-form})">

						<div id="listen-form" class="row justify-content-center">

							<div th:if="${status == 'add'} " class="card shadow mb-4"
								style="width: 800px;">
								<div class="card-header text-center">
									<h2 th:if="${status == 'add'}">Thêm câu nghe</h2>

								</div>
								<div th:if="${status == 'add'}" class="card-body">

									<form th:action="@{/admin/lessons/listens/add}" method="post"
										th:object="${listenForm}">
										<div class="form">
											<input th:value="${lessonId}" th:if="${lessonId}"
												type="hidden">
											<div class="row">
												<label>File nghe(URL)*</label> <input type="url"
													th:field="*{audio}" class="form-control" id="inputName"
													placeholder="Nhập URL" required>

											</div>

											<div class="row">
												<label>Hình ảnh(URL)*</label> <input required type="url"
													th:field="*{image}" placeholder="Nhập URL"
													class="form-control">

											</div>
											<div class="row">
												<label>Đáp án</label>

											</div>
											<div class="row">
												<label>Câu 1</label> <input th:field="*{content1}"
													class="form-control">

											</div>
										</div>
										<div class="row">
											<label>Câu 2</label> <input th:field="*{content2}"
												class="form-control">

										</div>
										<div class="row">
											<label>Câu 3</label> <input th:field="*{content3}"
												class="form-control">

										</div>
										<div class="row">
											<label>Câu 4</label> <input th:field="*{content4}"
												class="form-control">

										</div>
										<div class="row">
											<label>Câu 5</label> <input th:field="*{content5}"
												class="form-control">

										</div>
										<div class="row">
											<label>Câu 6</label> <input th:field="*{content6}"
												class="form-control">

										</div>
										<div class="row">
											<div class="col-sm-4"></div>
											<div class="col-sm-4" style="text-align: center">
												<button type="submit" value="Submit" class="btn btn-primary">Lưu</button>
											</div>
											<div class="col-sm-4"></div>
										</div>

									</form>
								</div>

							</div>

						</div>

					</div>


				</div>

				<div th:if="${status == 'update'} " class="container-fluid">
					<a th:if="${status == 'update'} "
						th:href="@{'/admin/lessons/'+${listenForm.lesson.id}+'/listens'}"><i
						class="fas fa-arrow-left"></i>Trở về</a>
					<div th:if="${msg != null}"
						class="alert alert-dismissible fade show"
						th:classappend="${css == 'error' ? 'alert-danger' : 'alert-success'}"
						role="alert">
						<strong th:text="${msg}"></strong>
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div
						th:insert="views/admin/layout/base-layout :: content(~{ :: #listen-form})">

						<div id="listen-form" class="row justify-content-center">

							<div th:if="${status == 'update'} " class="card shadow mb-4"
								style="width: 800px;">
								<div class="card-header text-center">
									<h2 th:if="${status == 'update'}">Sửa câu nghe</h2>

								</div>
								<script>
									function setEdit(id) {

										id.setAttribute("contenteditable",
												"true");
										id.style.border = "solid 1.3px"

									};
								</script>

								<div th:if="${status == 'update'}" class="card-body">

									<form
										th:action="@{'/admin/lessons/'+${listenForm.lesson.id}+'/listens/'+${listenForm.id}+'/save'}"
										method="post" th:object="${listenForm}">
										<div class="form">
											<input th:value="${listenForm.id}" th:field="*{id}"
												type="hidden">
												<input
												th:value="${listenForm.lesson.id}" th:field="*{lesson.id}"
												type="hidden">
											<div class="row">
												<label>File nghe(URL)*</label> <input type="url"
													th:field="*{audio}" class="form-control" id="inputName"
													placeholder="Nhập URL" required>

											</div>

											<div class="row">
												<label>Hình ảnh(URL)*</label> <input required type="url"
													th:field="*{image}" placeholder="Nhập URL"
													class="form-control">

											</div>
											<div class="row">
												<label>Đáp án</label>

											</div>
											<div class="row">
												<div class="col-sm-2">
													<label>Câu 1</label> <input th:field="*{content1}"
														class="form-control" type="hidden" id="content1">
												</div>
												<div class="col-sm-8">
													<p id="cont1" th:utext="${listenForm.content1}"></p>
												</div>
												<div class="col-sm-2">
													<a onclick="setEdit(cont1)" type="button"><i
														class="far fa-edit" style="color: yellow"></i></a>
												</div>


											</div>
										</div>
										<div class="row">
											<div class="col-sm-2">
												<label>Câu 2</label> <input th:field="*{content2}"
													class="form-control" type="hidden" id="content2">
											</div>
											<div class="col-sm-5">
												<p id="cont2" th:utext="${listenForm.content2}"></p>
											</div>
											<div class="col-sm-2">
												<a onclick="setEdit(cont2)" type="button"><i
													class="far fa-edit" style="color: yellow"></i></a>
											</div>

										</div>
										<div th:if="${content3}" class="row">
											<div class="col-sm-2">
												<label>Câu 3</label> <input th:field="*{content3}"
													class="form-control" type="hidden" id="content3">
											</div>
											<div class="col-sm-5">
												<p id="cont3" th:utext="${listenForm.content3}"></p>
											</div>
											<div class="col-sm-2">
												<a onclick="setEdit(cont3)" type="button"><i
													class="far fa-edit" style="color: yellow"></i></a>
											</div>

										</div>
										<div class="row">
											<div class="col-sm-2">
												<label>Câu 4</label> <input th:field="*{content4}"
													class="form-control" id="content4" type="hidden">
											</div>
											<div class="col-sm-5">
												<p id="cont4" th:utext="${listenForm.content4}"></p>
											</div>
											<div class="col-sm-2">
												<a onclick="setEdit(cont4)" type="button"><i
													class="far fa-edit" style="color: yellow"></i></a>
											</div>

										</div>
										<div class="row">
											<div class="col-sm-2">
												<label>Câu 5</label> <input th:field="*{content5}"
													class="form-control" type="hidden" id="content5">
											</div>
											<div class="col-sm-5">
												<p id="cont5" th:utext="${listenForm.content5}"></p>
											</div>
											<div class="col-sm-2">
												<a onclick="setEdit(cont5)" type="button"><i
													class="far fa-edit" style="color: yellow"></i></a>
											</div>

										</div>
										<div class="row">
											<div class="col-sm-2">
												<label>Câu 6</label> <input th:field="*{content6}"
													class="form-control" type="hidden" id="content6">
											</div>
											<div class="col-sm-5">
												<p id="cont6" th:utext="${listenForm.content6}"></p>
											</div>
											<div class="col-sm-2">
												<a onclick="setEdit(cont6)" type="button"><i
													class="far fa-edit" style="color: yellow"></i></a>
											</div>

										</div>
										<div class="row">
											<div class="col-sm-4"></div>
											<div class="col-sm-4" style="text-align: center">
												<button type="submit" value="Submit" class="btn btn-primary">Lưu</button>
											</div>
											<div class="col-sm-4"></div>
										</div>

									</form>
								</div>
								<script>
									document
											.getElementById("cont1")
											.addEventListener(
													"input",
													function() {
														var k = document
																.getElementById('cont1');
														document
																.getElementById('content1').value = k.innerHTML;

													}, false);
									document
									.getElementById("cont2")
									.addEventListener(
											"input",
											function() {
												var k = document
														.getElementById('cont2');
												document
														.getElementById('content2').value = k.innerHTML;

											}, false);
									document
									.getElementById("cont3")
									.addEventListener(
											"input",
											function() {
												var k = document
														.getElementById('cont3');
												document
														.getElementById('content3').value = k.innerHTML;

											}, false);
									document
									.getElementById("cont4")
									.addEventListener(
											"input",
											function() {
												var k = document
														.getElementById('cont4');
												document
														.getElementById('content4').value = k.innerHTML;

											}, false);
									document
									.getElementById("cont5")
									.addEventListener(
											"input",
											function() {
												var k = document
														.getElementById('cont5');
												document
														.getElementById('content5').value = k.innerHTML;

											}, false);
									document
									.getElementById("cont6")
									.addEventListener(
											"input",
											function() {
												var k = document
														.getElementById('cont6');
												document
														.getElementById('content6').value = k.innerHTML;

											}, false);
								</script>


							</div>

						</div>

					</div>


				</div>

			</div>


		</div>
	</div>


	</div>

	</div>
	<!-- /.container-fluid -->

	</div>
	<!-- End of Main Content -->

	<div th:replace="views/admin/layout/footer:: footer"></div>
	</div>
	<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>


	<script th:src="@{/assets/admin/vendor/jquery/jquery.min.js}"></script>
	<script
		th:src="@{/assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>


	<script
		th:src="@{/assets/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>
	<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
	 
	<script>
		tinymce.init({
			selector : 'textarea'
		});
	</script>

	<script class="custom-script"
		th:src="@{/assets/admin/js/sb-admin-2.min.js}"></script>

	<style>
.row {
	margin-bottom: 20px
}
</style>

</body>

</html>