<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="views/web/layout/base-layout">
<div layout:fragment="body">
	<section class="content-area">
		<div th:insert="views/web/blog/topheading :: top"></div>
		<div class="container site-content sidebar-right">
			<div class="row">
				<main id="main" class="site-main col-sm-9 alignleft">
					<div id="blog-archive" class="blog-content">
					<h3>Hot Blogs</h3>
						<div class="row">
						
							<article class="col-sm-7">
								<a th:href="@{'/blogs/'+${blogs[0].id}}">
									<div class="parent">
										<img th:src="${blogs[0].image}">
										<div class="child">
											<p th:text="${blogs[0].type}"></p>
											<h4 th:text="${blogs[0].title}"></h4>
											<i
												th:text="${#dates.format(new java.util.Date(blogs[0].create_time))}">
											</i>
											<form>
												<button th:href="@{'/blogs/'+${blogs[0].id}}">Đọc</button>
											</form>

										</div>
									</div>
								</a>

							</article>
							<article class="col-sm-5">
								<div class="row" style="margin-bottom: 4px">
									<a th:href="@{'/blogs/'+${blogs[1].id}}">
										<div class="parent">
											<img th:src="${blogs[1].image}"
												style="width: 400px; height: 200px">
											<div class="child">
												<p th:text="${blogs[1].type}"></p>
												<h4 th:text="${blogs[1].title}"></h4>
												<i
													th:text="${#dates.format(new java.util.Date(blogs[1].create_time))}">
												</i>
												<form>
													<button th:href="@{'/blogs/'+${blogs[1].id}}">Đọc</button>
												</form>

											</div>
										</div>
									</a>
								</div>
								<div class="row">
									<a th:href="@{'/blogs/'+${blogs[2].id}}">
										<div class="parent">
											<img th:src="${blogs[2].image}"
												style="width: 400px; height: 200px">
											<div class="child">
												<p th:text="${blogs[2].type}"></p>
												<h4 th:text="${blogs[2].title}"></h4>
												<i
													th:text="${#dates.format(new java.util.Date(blogs[2].create_time))}">
												</i>
												<form>
													<button th:href="@{'/blogs/'+${blogs[2].id}}">Đọc</button>
												</form>

											</div>
										</div>
									</a>
								</div>
							</article>
						</div>
						<!-- <div class="row" >
							<div class="col-sm-6">
								<article id="post-3696"
									class="col-sm-12 post-3696 post type-post status-publish format-standard has-post-thumbnail hentry category-business tag-wordpress pmpro-has-access">
									<div class="content-inner">
										<div class='post-formats-wrapper'>
											<a class="post-image" th:href="@{'/blogs/'+${blogs[0].id}}"><img
												style="width: 870px; height: 445px" th:src="${blogs[0].image}"
												class="attachment-full size-full wp-post-image" alt="" /></a>
										</div>
										<div class="entry-content">
											<header class="entry-header">
												<div class="date-meta">
													<i
														th:text="${#dates.format(new java.util.Date(blogs[0].create_time))}">
													</i>
												</div>
												<div class="entry-contain">
													<h2 class="entry-title">
														<a th:href="@{'/blogs/'+${blogs[0].id}}" rel="bookmark"><span
															th:text="${blogs[0].title}"></span></a>
													</h2>
													<ul class="entry-meta">
														<li class="author"><span>Posted by</span> <span
															class="vcard author author_name"><a
																th:href="@{https://educationwp.thimpress.com/author/minhluu/}"><p
																		th:text="${blogs[0].user.name}"></p></a></span></li>
														<li class="entry-category"><span>Categories</span> <a
															th:href="@{https://educationwp.thimpress.com/category/business/}"
															rel="category tag"><p th:text="${blogs[0].type}"></p></a></li>
													</ul>
												</div>
											</header>
>
											<div class="readmore">
												<a th:href="@{'/blogs/'+${blogs[0].id}}">Read More</a>
											</div>
										</div>
									</div>
									<hr>
								</article>
							</div>
							<div class="col-sm-6">
								<div class="row">
									<article id="post-3696"
										class="col-sm-12 post-3696 post type-post status-publish format-standard has-post-thumbnail hentry category-business tag-wordpress pmpro-has-access">
										<div class="content-inner">
											<div class='post-formats-wrapper'>
												<a class="post-image" th:href="@{'/blogs/'+${blogs[1].id}}"><img
													style="width: 870px; height: 445px" th:src="${blogs[1].image}"
													class="attachment-full size-full wp-post-image" alt="" /></a>
											</div>
											<div class="entry-content">
												<header class="entry-header">
													<div class="date-meta">
														<i
															th:text="${#dates.format(new java.util.Date(blogs[1].create_time))}">
														</i>
													</div>
													<div class="entry-contain">
														<h2 class="entry-title">
															<a th:href="@{'/blogs/'+${blogs[1].id}}" rel="bookmark"><span
																th:text="${blogs[1].title}"></span></a>
														</h2>
														<ul class="entry-meta">
															<li class="author"><span>Posted by</span> <span
																class="vcard author author_name"><a
																	th:href="@{https://educationwp.thimpress.com/author/minhluu/}"><p
																			th:text="${blogs[1].user.name}"></p></a></span></li>
															<li class="entry-category"><span>Categories</span> <a
																th:href="@{https://educationwp.thimpress.com/category/business/}"
																rel="category tag"><p th:text="${blogs[1].type}"></p></a></li>
														</ul>
													</div>
												</header>

												
												<div class="readmore">
													<a th:href="@{'/blogs/'+${blogs[1].id}}">Read More</a>
												</div>
											</div>
										</div>
										<hr>
									</article>
								</div>
								<div class="row">
									<article id="post-3696"
										class="col-sm-12 post-3696 post type-post status-publish format-standard has-post-thumbnail hentry category-business tag-wordpress pmpro-has-access">
										<div class="content-inner">
											<div class='post-formats-wrapper'>
												<a class="post-image" th:href="@{'/blogs/'+${blogs[2].id}}"><img
													style="width: 870px; height: 445px" th:src="${blogs[2].image}"
													class="attachment-full size-full wp-post-image" alt="" /></a>
											</div>
											<div class="entry-content">
												<header class="entry-header">
													<div class="date-meta">
														<i
															th:text="${#dates.format(new java.util.Date(blogs[2].create_time))}">
														</i>
													</div>
													<div class="entry-contain">
														<h2 class="entry-title">
															<a th:href="@{'/blogs/'+${blogs[2].id}}" rel="bookmark"><span
																th:text="${blogs[2].title}"></span></a>
														</h2>
														<ul class="entry-meta">
															<li class="author"><span>Posted by</span> <span
																class="vcard author author_name"><a
																	th:href="@{https://educationwp.thimpress.com/author/minhluu/}"><p
																			th:text="${blogs[2].user.name}"></p></a></span></li>
															<li class="entry-category"><span>Categories</span> <a
																th:href="@{https://educationwp.thimpress.com/category/business/}"
																rel="category tag"><p th:text="${blogs[2].type}"></p></a></li>
														</ul>
													</div>
												</header>

												
												<div class="readmore">
													<a th:href="@{'/blogs/'+${blogs[2].id}}">Read More</a>
												</div>
											</div>
										</div>
										<hr>
									</article>
								</div>
							</div>

						</div>
					 -->
					</div>
					<div class="pagination loop-pagination">
						<ul class='page-numbers'>
							<li><span aria-current="page" class="page-numbers current">1</span></li>
							<li><a class="page-numbers">2</a></li>
							<li><a class="page-numbers">3</a></li>
							<li><a class="next page-numbers">&#62;</a></li>
						</ul>
					</div>

				</main>
				<div class="col-sm-3" th:style="'padding-left: 90px;'"
					th:insert="views/web/blog/sidebar :: sidebar"></div>
			</div>
		</div>
	</section>
	<style>
.parent {
	position: relative;
	/* define context for absolutly positioned children */
	/* size set by image in this case */
	background-color: red;
	display: inline-block;
	/* width: 200px;
	height: 200px; */
	background-color: lightgreen;
	background-image: url('https://placehold.it/400');
	background-size: cover;
	background-position: center center;
}

.parent img {
	display: block;
}

.parent:after {
	content: '';
	/* :after has to have a content... but you don't want one */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	transition: 1s;
}

.parent:hover:after {
	background: rgba(0, 0, 0, .5);
}

.parent:hover .child {
	opacity: 1;
}

.child {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5; /* only works when position is defined */
	/* think of a stack of paper... this element is now 5 higher than the bottom */
	color: white;
	opacity: 0;
	transition: .5s;
}
</style>
</div>

</html>