<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="views/web/layout/base-layout">
<div layout:fragment="body">
	<section class="content-area">
		<div th:insert="views/web/blog/topheading :: top"></div>
		<div class="container site-content sidebar-right">
			<div class="row">
				<main id="main" class="site-main col-sm-9 alignleft">
					<div id="blog-archive" class="blog-content">
						<h3>Hot Blogs</h3>
						<hr>
						<div class="row">

							<article class="col-sm-7">
								<a th:href="@{'/blogs/'+${blogs[0].id}}">
									<div class="parent">
										<img th:src="${blogs[0].image}">
										<div class="child">

											<p
												th:if="${blogs[0].type==T(jlearning.model.Blog.Type).culture}">Văn
												hóa Nhật Bản</p>
											<p
												th:if="${blogs[0].type==T(jlearning.model.Blog.Type).experience}">Kinh
												nghiệm học</p>
											<p
												th:if="${blogs[0].type==T(jlearning.model.Blog.Type).general}">Chủ
												đề chung</p>


											<h4 th:text="${blogs[0].title}"></h4>
											<i
												th:text="${#dates.format(new java.util.Date(blogs[0].create_time))}">
											</i>
											<form th:action="@{'/blogs/'+${blogs[0].id}}">
												<button>Đọc</button>
											</form>

										</div>
									</div>
								</a>

							</article>
							<article class="col-sm-5">
								<div class="row" style="margin-bottom: 4px">
									<a th:href="@{'/blogs/'+${blogs[1].id}}">
										<div class="parent">
											<img th:src="${blogs[1].image}"
												style="width: 400px; height: 200px">
											<div class="child">
												<p
													th:if="${blogs[1].type==T(jlearning.model.Blog.Type).culture}">Văn
													hóa Nhật Bản</p>
												<p
													th:if="${blogs[1].type==T(jlearning.model.Blog.Type).experience}">Kinh
													nghiệm học</p>
												<p
													th:if="${blogs[1].type==T(jlearning.model.Blog.Type).general}">Tổng
													quát</p>

												<h4 th:text="${blogs[1].title}"></h4>
												<i
													th:text="${#dates.format(new java.util.Date(blogs[1].create_time))}">
												</i>
												<form th:action="@{'/blogs/'+${blogs[1].id}}">
													<button>Đọc</button>
												</form>

											</div>
										</div>
									</a>
								</div>

								<div class="row">
									<a th:href="@{'/blogs/'+${blogs[2].id}}">
										<div class="parent">
											<img th:src="${blogs[2].image}"
												style="width: 400px; height: 200px">
											<div class="child">
												<p
													th:if="${blogs[2].type==T(jlearning.model.Blog.Type).culture}">Văn
													hóa Nhật Bản</p>
												<p
													th:if="${blogs[2].type==T(jlearning.model.Blog.Type).experience}">Kinh
													nghiệm học</p>
												<p
													th:if="${blogs[2].type==T(jlearning.model.Blog.Type).general}">Tổng
													quát</p>

												<h4 th:text="${blogs[2].title}"></h4>
												<i
													th:text="${#dates.format(new java.util.Date(blogs[2].create_time))}">
												</i>
												<form th:action="@{'/blogs/'+${blogs[2].id}}">
													<button>Đọc</button>
												</form>

											</div>
										</div>
									</a>
								</div>
							</article>
						</div>
						<br>
						<h3>Văn hóa Nhật Bản</h3>
						<a style="font-size: 1.3rem; color: deeppink;" th:href="@{'blogs/category/1'}">Xem thêm<i
							class="fas fa-angle-double-right"></i></a>
						<hr>
						<div class="row">
							<div class="col-sm-4" style="margin-bottom: 8px"
								th:each="item:${blogs1}">
								<a th:href="@{'/blogs/'+${item.id}}">
									<div class="parent">
										<img style="width: 250px; height: 200px"
											th:src="${item.image}">
										<div class="child">


											<h4 th:text="${item.title}"></h4>
											<i
												th:text="${#dates.format(new java.util.Date(item.create_time))}">
											</i>
											<form th:action="@{'/blogs/'+${item.id}}">
												<button>Đọc</button>
											</form>

										</div>
									</div>
								</a>
							</div>

						</div>
						<br>
						<h3>Kinh nghiệm học</h3>
						<a style="font-size: 1.3rem; color: deeppink;" th:href="@{'blogs/category/2'}">Xem thêm<i
							class="fas fa-angle-double-right"></i></a>
						<hr>
						<div class="row">
							<div class="col-sm-4" style="margin-bottom: 8px"
								th:each="item:${blogs2}">
								<a th:href="@{'/blogs/'+${item.id}}">
									<div class="parent">
										<img style="width: 250px; height: 200px"
											th:src="${item.image}">
										<div class="child">

											<h4 th:text="${item.title}"></h4>
											<i
												th:text="${#dates.format(new java.util.Date(item.create_time))}">
											</i>
											<form th:action="@{'/blogs/'+${item.id}}">
												<button>Đọc</button>
											</form>

										</div>
									</div>
								</a>
							</div>

						</div>
						<br>
						<h3>Chủ đề chung</h3>
						<a style="font-size: 1.3rem; color: deeppink;"
							th:href="@{'blogs/category/3'}">Xem thêm<i
							class="fas fa-angle-double-right"></i></a>
						<hr>
						<div class="row">
							<div class="col-sm-4" style="margin-bottom: 8px"
								th:each="item:${blogs3}">
								<a th:href="@{'/blogs/'+${item.id}}">
									<div class="parent">
										<img style="width: 250px; height: 200px"
											th:src="${item.image}">
										<div class="child">


											<h4 th:text="${item.title}"></h4>
											<i
												th:text="${#dates.format(new java.util.Date(item.create_time))}">
											</i>
											<form th:action="@{'/blogs/'+${item.id}}">
												<button>Đọc</button>
											</form>

										</div>
									</div>
								</a>
							</div>

						</div>

					</div>


				</main>
				<div class="col-sm-3" th:style="'padding-left: 90px;'"
					th:insert="views/web/blog/sidebar :: sidebar"></div>
			</div>
		</div>
	</section>
	<style>
.parent {
	position: relative;
	/* define context for absolutly positioned children */
	/* size set by image in this case */
	background-color: red;
	display: inline-block;
	/* width: 200px;
	height: 200px; */
	background-color: lightgreen;
	background-image: url('https://placehold.it/400');
	background-size: cover;
	background-position: center center;
}

.parent img {
	display: block;
}

.parent:after {
	content: '';
	/* :after has to have a content... but you don't want one */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	transition: 1s;
}

.parent:hover:after {
	background: rgba(0, 0, 0, .5);
}

.parent:hover .child {
	opacity: 1;
}

.child {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5; /* only works when position is defined */
	/* think of a stack of paper... this element is now 5 higher than the bottom */
	color: white;
	opacity: 0;
	transition: .5s;
}
</style>
</div>

</html>