<div th:fragment="sidebar" id="sidebar" role="complementary">


	<aside id="search-4" class="widget widget_search">
		<h3 class="widget-title">Tìm kiếm</h3>
		<div class="courses-searching">
			<form th:action="@{/blogs/search}" method="get">
				<input required="true" type="text" placeholder="Tìm blogs"
					class="form-control course-search-filter" autocomplete="off"
					th:name="name1" th:value="${#request.getParameter('name1') != null ? #request.getParameter('name1'):''}" 
					/>
				<button type="submit"
					th:style="'right: 0; bottom: 0;  background: 0 0;   box-shadow: none; border: none; outline: 0; width: 30px;padding: 0;   line-height: 34px;'">
					<i class="fa fa-search"></i>
				</button>

			</form>

		</div>
	</aside>
	<aside id="categories-2" class="widget widget_categories">
		<h3 class="widget-title">Categories</h3>
		<ul>
			<li class="cat-item cat-item-9"><a
				th:href="@{'/blogs/category/1'}">Văn hóa Nhật Bản</a></li>
			<li class="cat-item cat-item-9"><a
				th:href="@{'/blogs/category/2'}">Kinh nghiệm học</a></li>
			<li class="cat-item cat-item-9"><a
				th:href="@{'/blogs/category/3'}">Cuộc sống</a></li>

		</ul>
	</aside>
	<h3 class="widget-title">Posts Mới nhất</h3>
	<div th:each="it:${news}">
		<aside th:style="'margin-top: 40px;'" id="list-post-2"
			class="widget widget_list-post">
			<div
				class="thim-widget-list-post thim-widget-list-post-base template-base">

				<div class="thim-list-posts sidebar">
					<div
						class="item-post has_thumb post-3698 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-course pmpro-has-access">
						<div class="article-image">
							<a th:href="@{'/blogs/'+${it.id}}"><img width="150"
								height="150" th:src="${it.image}"
								class="attachment-thumbnail size-thumbnail wp-post-image" /></a>
						</div>
						<div class="article-title-wrapper">
							<h5>
								<a th:href="@{'/blogs/'+${it.id}}" class="article-title"><span
									th:text="${it.title}"></span></a>
							</h5>
							<div class="article-date">
								<span class="day"
									th:text="${#dates.format(new java.util.Date(it.create_time))}"></span>
							</div>
						</div>
					</div>

				</div>
			</div>
		</aside>
	</div>


	<style>
.content-area p {
	font-size: 1.4rem;
}

aside {
	margin-bottom: 40px
}
</style>
</div>